<p-dialog header="Documentos de matricula"
          [modal]="true"
          [draggable]="false"
          [closable]="false"
          [(visible)]="displayFile"
          [style]="{width: '70vw'}"
          [baseZIndex]="999999"
          [breakpoints]="{'960px': '85vw'}" [style]="{width: '90vw'}">
          <app-iframe-file [fileURL]="fileURL"></app-iframe-file>
          <ng-template pTemplate="footer">
            <p-button (click)="closeModal()" label="Cerrar" styleClass="p-button-text"></p-button>
          </ng-template>
</p-dialog>
