<div class="main p-4 animate__animated animate__fadeIn">
  <p-card header="Lista de estudiantes en grupo">
    <div class="flex justify-content-center justify-content-between">
      <div class="col-6">
        <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input type="text"
                 pInputText
                 placeholder="Buscar grupo" />
      </span>
      </div>
      <div class="col-6 flex justify-content-end">
        <div>
          <!-- <button pButton
                  pRipple
                  type="button"
                  icon="fa-solid fa-plus"
                  label="Grupo"
                  routerLink="/system/grupos/add-grupo"
                  class="p-button-rounded"></button> -->
        </div>
      </div>
    </div>
    <div class="grid content">
      <div class="col table-responsive">
        <p-table [value]="listaEstudiantes" responsiveLayout="scroll" [rowHover]="true">
          <ng-template pTemplate="header">
              <tr>
                <th>N°</th>
                <th>Nombres y apellidos</th>
                <th>Celular - Email</th>
                <th>Estado matricula</th>
                <th>Tipo población</th>
                <th>Matricula</th>
                <th>Pensión</th>
                <!-- <th>Curso</th> -->
                <!-- <th>Nivel</th> -->
                <!-- <th>Horario</th> -->
                <!-- <th>Modalidad</th> -->
                <!-- <th>Fecha Inicio - Finalizaión</th> -->
                <!-- <th>Max. alumnos</th> -->
                <!-- <th>Num. alumnos</th> -->
                <!-- <th>Docente asignado</th> -->
                <!-- <th>Operación</th> -->
              </tr>
          </ng-template>
          <ng-template pTemplate="body" let-grupo let-rowIndex="rowIndex">
              <tr class="select-tr">
                  <td>{{rowIndex+1}}</td>
                  <td>
                      {{grupo.estudiante.Nombres | titlecase}}
                      {{grupo.estudiante.ApellidoPaterno | titlecase}}
                      {{grupo.estudiante.ApellidoMaterno | titlecase}}</td>
                  <td>{{grupo.estudiante.CodePhone}} {{grupo.estudiante.Celular}} <br> {{grupo.estudiante.Email}} </td>
                  <td><p-tag severity="success">{{grupo.matricula.EstadoMatricula}}</p-tag></td>
                  <td>{{grupo.matricula.denomiServicio.Descripcion}}</td>
                  <td>S/. {{grupo.matricula.denomiServicio.MontoMatricula}}</td>
                  <td>S/. {{grupo.matricula.denomiServicio.MontoPension}}</td>
                  <!-- <td>{{grupo.curso.NombreCurso | titlecase}}</td> -->
                  <!-- <td>{{grupo.curso.NivelCurso | titlecase}}</td> -->
                  <!-- <td>{{grupo.horario.HoraInicio | date:'h:mm a'}} - {{grupo.horario.HoraFinal | date:'h:mm a'}}</td> -->
                  <!-- <td>{{grupo.Modalidad}}</td> -->
                  <!-- <td>
                    <p-tag icon="pi pi-calendar"
                           [rounded]="true"
                           severity="info">
                           <span class="m-1">{{grupo.FechaInicioGrupo | date}} a {{grupo.FechaFinalGrupo | date}}</span></p-tag>
                  </td> -->
                  <!-- <td>{{grupo.MaximoEstudiantes}}</td> -->
                  <!-- <td>{{grupo.NumeroEstudiantes}}</td> -->
                  <!-- <td>{{grupo.docente.Nombres | titlecase}} {{grupo.docente.ApellidoPaterno | titlecase}}</td> -->
                  <!-- <td>
                    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                      <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                      <button mat-menu-item [routerLink]="['/system/grupos/ver-grupo', grupo.Id]">
                        <mat-icon><i class="fa-solid fa-circle-info"></i></mat-icon>
                        <span>ver más</span>
                      </button>
                      <button mat-menu-item [routerLink]="['/system/grupos/pension-grupo', grupo.Id]">
                        <mat-icon><i class="fa-solid fa-sack-dollar"></i></mat-icon>
                        <span>Pensión</span>
                      </button>
                      <button mat-menu-item [routerLink]="['/system/grupos/edit-grupo', grupo.Id]">
                        <mat-icon><i class="fa-solid fa-pen-to-square"></i></mat-icon>
                        <span>Editar grupo</span>
                      </button>
                      <button mat-menu-item>
                        <mat-icon><i class="fa-solid fa-trash-can"></i></mat-icon>
                        <span>Dar de grupo</span>
                      </button>
                    </mat-menu>
                  </td> -->
              </tr>
          </ng-template>
        </p-table>
        <div>
          <div class="mt-4" *ngIf="resAlumnoEnGrupo && resAlumnoEnGrupo.count">
            <div class="grid content">
              <div class="col-12 md:col-3">
                  <p class="text-muted">Total de grupos: {{resAlumnoEnGrupo.count}}</p>
              </div>
              <div class="col-12 md:col-6">
                <p-paginator [rows]="5"
                             [totalRecords]="resAlumnoEnGrupo.count!"
                             [rowsPerPageOptions]="[5,10,15,20]"
                             (onPageChange)="paginate($event)"></p-paginator>
              </div>
              <div class="col-12 md:col-3"></div>
            </div>
          </div>
          <app-loadding *ngIf="loadingLista && listaEstudiantes.length==0" msg="Lista de grupos"></app-loadding>
          <app-lista-vacia *ngIf="listaEstudiantes.length==0 && !loadingLista" msg="No se encontraron grupos registrados"></app-lista-vacia>
        </div>
      </div>
    </div>
  </p-card>
</div>
