<div class="p-3">

  <div class="col">
    <label for="usuario" class="block mb-2"><i class="fa-solid fa-gears"></i> Departamento</label>
    <p-dropdown class="p-fluid p-grid p-formgrid"
                name="departamentos"
                [(ngModel)]="selectedDepar"
                [options]="listDepartamentos"
                (ngModelChange)="selectedDepartamento($event)"
                placeholder="Departamento"
                optionValue="IdDepartamento"
                optionLabel="NombreDepartamento"></p-dropdown>
    <!-- <small *ngIf="IdRol.hasError('required') && IdRol.dirty"
            class="p-error">El rol del usuario es <strong>requerido</strong></small> -->
  </div>

  <div class="col">
    <label for="usuario" class="block mb-2"><i class="fa-solid fa-gears"></i> Departamento</label>
    <p-dropdown class="p-fluid p-grid p-formgrid"
                name="Provincia"
                [options]="listProvincias"
                placeholder="Provincia"
                [(ngModel)]="selectedProv"
                (ngModelChange)="selectedProvincia($event)"
                optionValue="IdProvincia"
                optionLabel="NombreProvincia"></p-dropdown>
    <!-- <small *ngIf="IdRol.hasError('required') && IdRol.dirty"
            class="p-error">El rol del usuario es <strong>requerido</strong></small> -->
  </div>

  <div class="col">
    <label for="usuario" class="block mb-2"><i class="fa-solid fa-gears"></i> Departamento</label>
    <p-dropdown class="p-fluid p-grid p-formgrid"
                name="Distrito"
                [(ngModel)]="selectedDist"
                [options]="listDistritos"
                placeholder="Distrito"
                optionValue="IdDistrito"
                optionLabel="NombreDistrito"></p-dropdown>
    <!-- <small *ngIf="IdRol.hasError('required') && IdRol.dirty"
            class="p-error">El rol del usuario es <strong>requerido</strong></small> -->
  </div>

</div>
