<div class="header-conatiner-pagos"></div>
<div class="container-pagos animate__animated animate__fadeIn mb-5">
  <div class="content-form-pagos">
    <div class="mb-2">
      <p-card header="Nota">
        <p><i class="fa-solid fa-message"></i> Para subir su voucher de pago es necesario consultar sus datos en el siguiente formulario.</p>
      </p-card>
    </div>
    <div>
      <div class="progressBar">
        <p-progressBar *ngIf="loading" mode="indeterminate" [style]="{'height': '6px'}"></p-progressBar>
      </div>
      <p-card header="Registro de pago">
        <p-messages key="message-pagos"></p-messages>
        <mat-vertical-stepper [linear]="true" #stepper >
          <mat-step [stepControl]="formBusqueda">
            <form [formGroup]="formBusqueda">
              <ng-template matStepLabel>Consultar datos</ng-template>
              <div class="field">
                <label for="usuario" class="block mb-2">Tipo documento</label>
                <p-dropdown class="p-fluid p-grid p-formgrid"
                            [options]="card"
                            formControlName="TipoDocumento"
                            (ngModelChange)="changeCard($event)"
                            optionValue="code"
                            optionLabel="name">
                        </p-dropdown>
                <small *ngIf="TipoDocumento.hasError('required') && TipoDocumento.dirty"
                      class="p-error">El tipo de documento es <strong>requerido</strong></small>
              </div>
              <div class="field">
                <label for="Documento" class="block">{{TipoDocumentoSelected}}</label>
                <span class="p-input-icon-left full-width">
                  <i class="pi pi-id-card"></i>
                  <input id="Documento"
                         type="text"
                         formControlName="Documento"
                         [maxLength]="TipoDocumentoSelected=='DNI'?8:12"
                         minlength="8"
                         [placeholder]="'Digite su '+TipoDocumentoSelected"
                         pInputText/>
                </span>
                <small *ngIf="Documento.hasError('pattern') && !Documento.hasError('required')"
                       class="p-error">Digite un número de {{TipoDocumentoSelected}} <strong>válido</strong></small>
                <small *ngIf="Documento.hasError('required') && Documento.dirty"
                       class="p-error">El {{TipoDocumentoSelected}} es <strong>requerido</strong></small>
              </div>
              <div>
                <button mat-raised-button (click)="search()" [disabled]="loading">{{loading?'Consultando':'Consultar'}}</button>
              </div>
            </form>
          </mat-step>
          <mat-step [stepControl]="formSelectGrupoCategoria">
            <form [formGroup]="formSelectGrupoCategoria">
              <ng-template matStepLabel>Cursos y tipo de registro</ng-template>
                <div class="col">
                  <label for="EnGrupo" class="block mb-2">Selecione el curso</label>
                  <p-dropdown class="p-fluid p-grid p-formgrid"
                              appendTo="body"
                              [options]="ListEstudianteEnGrupo"
                              formControlName="estudianteEnGrupo"
                              placeholder="Selecione el grupo"
                              (ngModelChange)="selectOneGrupo($event)">
                    <ng-template pTemplate="selectedItem">
                      <div class="grupo-item grupo-item-value" *ngIf="selectedGrupo">
                        <span class="ml-1">
                          <img class="flag-code-country" [src]="selectedGrupo.grupo.curso.UrlBandera" alt="">
                          <span class="ml-1">{{selectedGrupo.grupo.curso.NombreCurso | titlecase }} {{selectedGrupo.grupo.curso.nivel.Nivel}}</span>
                        </span>
                      </div>
                    </ng-template>
                    <ng-template let-enGrupo pTemplate="item">
                      <div>
                        <img class="flag-code-country" [src]="enGrupo.grupo.curso.UrlBandera" alt="">
                        <span class="ml-1 mr-1">{{enGrupo.grupo.curso.NombreCurso | titlecase }} {{enGrupo.grupo.curso.nivel.Nivel}}</span>
                      </div>
                    </ng-template>
                  </p-dropdown>
                  <small *ngIf="estudianteEnGrupo.hasError('required') && estudianteEnGrupo.dirty"
                      class="p-error">El tipo de documento es <strong>requerido</strong></small>
                </div>
                <div class="col">
                  <label for="categoriaPago" class="block mb-2">Selecione el tipo de pago a registrar</label>
                  <p-dropdown class="p-fluid p-grid p-formgrid"
                              placeholder="Selecione el tipo de pago"
                              appendTo="body"
                              [options]="listCategoriaPago"
                              (ngModelChange)="selectedCategories($event)"
                              formControlName="categoriaPago"
                              optionLabel="TipoCategoriaPago">
                            </p-dropdown>
                  <small *ngIf="categoriaPago.hasError('required') && categoriaPago.dirty"
                        class="p-error">Selecione una categoría de pago para continuar</small>
                </div>
                <div class="col" *ngIf="selectedCategory && isPagoMensualidad">
                  <label for="grupoModulo" class="block mb-2">Selecione el módulo</label>
                  <p-dropdown class="p-fluid p-grid p-formgrid"
                              appendTo="body"
                              [options]="listModulogrupo"
                              formControlName="grupoModulo"
                              placeholder="Selecione el grupo"
                              (ngModelChange)="selectModulo($event)">
                    <ng-template pTemplate="selectedItem">
                      <div class="grupo-item grupo-item-value" *ngIf="selectedModulo">
                        <span class="ml-1">
                          Módulo {{selectedModulo.modulo.Modulo}}
                        </span>
                      </div>
                    </ng-template>
                    <ng-template let-GrupoModulo pTemplate="item">
                      <div *ngIf="GrupoModulo.modulo">
                        Módulo {{GrupoModulo.modulo.Modulo}}
                      </div>
                    </ng-template>
                  </p-dropdown>
                  <small *ngIf="grupoModulo.hasError('required') && grupoModulo.dirty"
                      class="p-error">Selecione el módulo de pago</small>
                </div>
                <div class="col">
                  <button mat-raised-button matStepperPrevious class="mr-2">Regresar</button>
                  <button mat-raised-button (click)="validSelectCursoGrupo()">Siguiente</button>
                </div>
            </form>
          </mat-step>
          <mat-step [stepControl]="formFile">
            <ng-template matStepLabel>Subir vocuher</ng-template>
            <div *ngIf="currentModulo">
              <p-messages severity="info">
                <ng-template pTemplate>
                    <img src="assets/icon/logo.png" height="40"/>
                    <div class="ml-2">Estás en el <b>Módulo {{currentModulo.modulo.Modulo}}</b> del curso. Recuerda que debes registrar tu pago antes de avanzar al siguiente módulo para evitar pagos extemporaneos.</div>
                </ng-template>
              </p-messages>
            </div>
            <form [formGroup]="formFile">
              <div class="grid mt-3">
                <div class="col-12">
                  <label for="MedioDePago" class="block mb-2">Medio de pago</label>
                  <p-dropdown class="p-fluid p-grid p-formgrid"
                              appendTo="body"
                              [options]="listMedioPago"
                              placeholder="Selecione el medio de pago realizado"
                              formControlName="MedioDePago"
                              optionLabel="MedioDePago"></p-dropdown>
                  <small *ngIf="MedioDePago.hasError('required') && MedioDePago.dirty"
                        class="p-error">El medio de pago es <strong>requerido</strong></small>
                </div>
                <div class="col" *ngIf="setPrecio && setPrecio.visibleInput">
                  <label for="MontoPago" class="block mb-2">Monto de pago S/.</label>
                  <p-inputNumber inputId="minmaxfraction"
                                  mode="decimal"
                                  placeholder="Digite el monto de pago extemporaneo"
                                  class="p-fluid p-grid p-formgrid full-width"
                                  formControlName="MontoPago"
                                  [min]="0"
                                  [max]="1000"
                                  [minFractionDigits]="2"
                                  [maxFractionDigits]="5"></p-inputNumber>
                  <small *ngIf="MontoPago.hasError('pattern') && !MontoPago.hasError('required')"
                          class="p-error">Digite un monto de pago <strong>válido</strong></small>
                  <small *ngIf="MontoPago.hasError('required') && MontoPago.dirty"
                          class="p-error">El campo monto de pago es <strong>requerido</strong></small>
                </div>
                <div class="col-12 md:col-12">
                  <label for="NumOperacionLibro" class="block mb-2">Número de operación</label>
                  <input id="NumOperacionLibro"
                        class="p-fluid p-grid p-formgrid full-width"
                        type="text"
                        placeholder="Digite el número de operación"
                        maxlength="20"
                        formControlName="NumOperacion"
                        autocomplete="off"
                        (click)="numOp.toggle($event)"
                        pInputText/>
                  <small *ngIf="NumOperacion.hasError('pattern') && !NumOperacion.hasError('required')"
                  class="p-error">Digite un número de operación <strong>válido</strong></small>
                  <small *ngIf="NumOperacion.hasError('required') && NumOperacion.dirty"
                          class="p-error">El campo número de operación es <strong>requerido</strong></small>
                </div>
                <p-overlayPanel #numOp>
                  <p><i class="fa-solid fa-message"></i><b> Nota </b>El número de operación corresponde al número o folio de la boleta <br> que se imprime en el voucher.
                    para más información <a class="tag-a" routerLink="/main/example/numero-operacion" target="_blank">Ver ejemplo</a></p>
                </p-overlayPanel>
                <div class="col-12 md:col-12">
                  <label for="FechaPagoLibro" class="block mb-2">Fecha de pago</label>
                  <p-inputMask mask="99/99/9999"
                                formControlName="FechaPago"
                                placeholder="DD/MM/AAAA"></p-inputMask>
                  <small *ngIf="FechaPago.hasError('pattern') && !FechaPago.hasError('required')"
                          class="p-error">Digite una fecha de pago <strong>válida</strong></small>
                  <small *ngIf="FechaPago.hasError('required') && FechaPago.dirty"
                          class="p-error">El campo fecha de pago es <strong>requerido</strong></small>
                </div>
                <div class="col-12 md:col-12">
                  <div class="flex justify-content-between justify-content-center align-items-center file-content">
                    <label class="block label-file">
                      <p *ngIf="setPrecio">
                        <i class="fa-regular fa-hand-point-right mr-1"></i> {{setPrecio.mensaje}}
                        <strong *ngIf="!setPrecio.visibleInput && MontoPago.value">{{setPrecio.monto | currency: 'PEN': 'symbol': '': 'es-PE'}}</strong>
                      </p>
                    </label>
                    <div class="flex flex-column">
                      <button mat-raised-button
                              [disabled]="loadingFilePago || loading"
                              (click)="uploadFile.click()"
                              class="custom-btn-file">
                              <mat-icon>{{(FileURL.value && !loadingFilePago)?'check':'attach_file'}}</mat-icon> Elija el archivo</button>
                      <input #uploadFile
                              (change)="selectFile($event)"
                              formControlName="FileURL"
                              accept=".pdf,.png,.jpg,.jpeg"
                              type='file' style="display:none"/>
                      <small *ngIf="FileURL.hasError('required') && FileURL.dirty"
                              class="p-error">El voucher del pago es <strong>requerido</strong></small>
                    </div>
                  </div>
                </div>
              </div>
            </form>
            <div class="mt-3">
              <button mat-raised-button
                      class="button-custom"
                      (click)="save()"
                      [disabled]="loading">
                <i [ngClass]="{'pi-spin pi-spinner': loading,
                               'pi-save':!loading}" class="pi mr-1"></i> Registrar
              </button>
            </div>
          </mat-step>
        </mat-vertical-stepper>
      </p-card>
    </div>
  </div>
</div>

