/* Estilos para card como contenido principal */
.container-pagos{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
}
.header-conatiner-pagos{
  height: 100px;
}
.content-form-pagos{
  width: 500px;
}
.progressBar{
  margin-top: 5px;
}
.p-card .p-card-body{
  padding: 0px !important;
}
@media only screen and (max-width: 767px) {
  /* Estilos para teléfonos móviles aquí */
  .content-form-pagos{
    width: 95%;
    padding: 2px;
  }
  .header-conatiner-pagos{
    height: 80px;
  }
}
