<form [formGroup]="formLogin" method="post" class="ml-2 mr-2">
  <div class="field">
    <p>Bienvenido a </p>
    <h2>CEID</h2>
    <div class="text-center mt-2">
      <img src="assets/images/img-login.svg"
           class="img-login"
           alt="logo login ceid"
           title="logo-login-ceid">
    </div>
  </div>
  <div class="field">
    <label for="usuario" class="block">usuario</label>
    <input id="usuario"
           class="p-fluid p-grid p-formgrid"
           type="email"
           autocomplete="off"
           placeholder="usuario"
           formControlName="Email"
           pInputText/>
    <small *ngIf="Email.hasError('email') && !Email.hasError('required')"
           class="p-error">Digite un email <strong>válido</strong></small>
    <small *ngIf="Email.hasError('required') && Email.dirty"
          class="p-error">El campo usuario es <strong>requerido</strong></small>
  </div>
  <div class="field mb-4">
    <label for="usuario" class="block">contraseña</label>
    <input type="password"
           placeholder="Contraseña"
           autocomplete="false"
           [feedback]="false"
           class="p-fluid p-grid p-formgrid"
           formControlName="Password"
           pPassword/>
    <small *ngIf="Password.hasError('required') && Password.dirty"
    class="p-error">La contraseña es <strong>requerida</strong></small>
  </div>
  <div class="mb-3">
    <p-inputSwitch aria-checked="false"
                   formControlName="RememberUser"
                   title="recordar usuario"></p-inputSwitch><span class="m-2">Recordar usuario</span>
  </div>
  <p-messages [(value)]="msg"></p-messages>
  <p-toast [showTransitionOptions]="'0ms'" [hideTransitionOptions]="'0ms'"></p-toast>

  <div class="field">
    <button pButton
            pRipple
            type="button"
            [label]="loading?'INGRESANDO':'INGRESAR'"
            (click)="login()"
            [disabled]="loading"
            class="p-button-raised full-width mt-3 button-custom-round"></button>
  </div>
</form>
