<div class="animate__animated animate__fadeIn">
  <p-card header="Lista de grupos">
    <div class="grid justify-content-center justify-content-between">
      <div class="col-12 md:col-3">
        <app-input-search (busqueda)="buscarTermino($event)"
                           placeholder="Buscar idioma/grupo/nivel"></app-input-search>
      </div>
      <div class="col-12 md:col-9 flex justify-content-end">
        <div>
          <button mat-raised-button
                  [matMenuTriggerFor]="menuFilter"
                  class="button-custom-round mr-2">{{selectEstadoGrupo | titlecase}} <i class="pi pi-filter-fill ml-2"></i></button>
          <mat-menu #menuFilter="matMenu">
            <button mat-menu-item
                    *ngFor="let item of listEstadosGrupo"
                    (click)="selectForFiltro(item)">
                    <i class="pi"
                       [ngClass]="{'pi-filter-fill':item.CodeEstado==selectCodeEstado,
                                   'pi-filter':item.CodeEstado!=selectCodeEstado}"></i> {{item.EstadoGrupo | titlecase}}
            </button>
          </mat-menu>
          <button mat-raised-button
                  type="button"
                  class="button-custom-round"
                  routerLink="/system/grupos/add-grupo">
                  <i class="fa-solid fa-plus"></i> Nuevo grupo
          </button>
        </div>
      </div>
    </div>
    <div class="col table-responsive content-tables">
      <p-table [value]="_grupo.listGrupos | statusGrupo:selectCodeEstado | filterGrupo:terminoBusqueda" responsiveLayout="scroll" [rowHover]="true" [resizableColumns]="true" columnResizeMode="expand">
        <ng-template pTemplate="header">
            <tr>
              <th>Cód.</th>
              <th>Idioma</th>
              <th>Nombre</th>
              <th>Horario</th>
              <th>Modalidad</th>
              <th>Fecha Inicio - Finalizaión</th>
              <th>Alumnos</th>
              <th>Req. Primer pago</th>
              <th>Estado grupo</th>
              <th>Operación</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-grupo let-rowIndex="rowIndex">
            <tr class="tr-custom" [ngClass]="{'state-1':grupo.estadoGrupo.CodeEstado==='status_matricula',
                                              'state-2':grupo.estadoGrupo.CodeEstado==='status_en_clases',
                                              'state-3':grupo.estadoGrupo.CodeEstado==='status_finalizado'}">
              <td>G-{{grupo.Id}}</td>
              <td>
                <div class="grid">
                  <div class="col-3 flex justify-content-center">
                    <img class="img-flag mr-2" [alt]="'Bandera'+grupo.curso.NombreCurso" [src]="grupo.curso.UrlBandera" alt="" srcset="">
                  </div>
                  <div class="col-9 flex flex-column">
                    <b class="mr-2 mb-1">{{grupo.curso.NombreCurso | titlecase}}</b>
                    {{grupo.curso.nivel.Nivel}}
                  </div>
                </div>
              </td>
              <td>{{grupo.tipoGrupo.NombreGrupo | titlecase}}</td>
              <td><p-tag severity="info">{{grupo.horario.HoraInicio | date:'h:mm a'}} - {{grupo.horario.HoraFinal | date:'h:mm a'}}</p-tag></td>
              <td>{{grupo.Modalidad}}</td>
              <td>
                <p-tag [rounded]="true"
                       severity="warning">{{grupo.FechaInicioGrupo | date}} a {{grupo.FechaFinalGrupo | date}}</p-tag>
              </td>
              <td>{{grupo.NumeroEstudiantes}} de {{grupo.MaximoEstudiantes}}</td>
              <td>
                <span *ngIf="grupo.RequeridoPPago else notRequired">
                  <p-tag styleClass="mr-2" icon="pi pi-check" severity="success" value="Requiere"></p-tag>
                </span>
                <ng-template #notRequired>
                  <p-tag icon="pi pi-times" severity="danger" value="No requiere"></p-tag>
                </ng-template>
              </td>
              <td>{{grupo.estadoGrupo.EstadoGrupo}}</td>
              <td class="text-center">
                <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                  <mat-icon><i class="fa-solid fa-ellipsis-vertical"></i></mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                  <button mat-menu-item [routerLink]="['/system/grupos/ver-grupo', grupo.Id]">
                    <mat-icon><i class="fa-solid fa-circle-info"></i></mat-icon>
                    <span>ver más</span>
                  </button>
                  <button mat-menu-item [routerLink]="['/system/grupos/estudiantes-grupo', grupo.Id]">
                    <mat-icon><i class="fa-solid fa-graduation-cap"></i></mat-icon>
                    <span>Estudiantes en el grupo</span>
                  </button>
                  <button mat-menu-item [routerLink]="['/system/grupos/edit-grupo', grupo.Id]">
                    <mat-icon><i class="fa-solid fa-pen-to-square"></i></mat-icon>
                    <span>Editar datos del grupo</span>
                  </button>
                  <button mat-menu-item *showForRoles="['admin_role','supervisor_role']" (click)="confirmarEliminarGrupo(grupo)">
                    <mat-icon><i class="fa-solid fa-trash-can"></i></mat-icon>
                    <span>Dar de baja al grupo</span>
                  </button>
                </mat-menu>
              </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="10">
              <app-lista-vacia [msg]="'No se encontraron registros'"></app-lista-vacia>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
    <div>
      <div class="mt-4" *ngIf="_grupo.respGrupo && _grupo.respGrupo.count">
        <div class="grid content">
          <div class="col-12 md:col-3">
              <p class="text-muted">Total de grupos: {{_grupo.respGrupo.count}}</p>
          </div>
          <div class="col-12 md:col-6">
            <p-paginator  [rows]="5"
                          [totalRecords]="_grupo.respGrupo.count!"
                          [rowsPerPageOptions]="[5,10,15,20]"
                          (onPageChange)="paginate($event)"></p-paginator>
          </div>
          <div class="col-12 md:col-3"></div>
        </div>
      </div>
    </div>
    <app-loadding *ngIf="_grupo.loadingLista && _grupo.listGrupos.length==0" msg="Lista de grupos"></app-loadding>
    <!-- <app-lista-vacia *ngIf="_grupo.listGrupos.length==0 && !_grupo.loadingLista" msg="No se encontraron grupos registrados"></app-lista-vacia> -->
  </p-card>
</div>

<!-- Delete grupo message dialog -->
<p-confirmDialog [style]="{width: '50vw'}"
                 key="deleteGrupoDialog"
                 position="top"
                 [baseZIndex]="10000"
                 acceptLabel="Confirmar"
                 [breakpoints]="{'960px': '75vw', '640px': '100vw'}"
                 rejectButtonStyleClass="p-button-outlined"></p-confirmDialog>
