<p-card>
  <div>
    <div *ngIf="_bot.loading else qr">
      cargando...
    </div>
    <ng-template #qr>
      <div *ngIf="_bot.estadoWhatsApp">
        <div class="mb-3 flex justify-content-between justify-content-center align-items-center">
          <h3>{{_bot.estadoWhatsApp.title}}</h3>
        </div>
        <p class="mb-3">
          {{_bot.estadoWhatsApp.description}}
        </p>
        <div class="text-center" *ngIf="_bot.estadoWhatsApp.qr">
          <qrcode [qrdata]="_bot.estadoWhatsApp.qr" [width]="256" [errorCorrectionLevel]="'M'"></qrcode>
        </div>
        <div class="text-center" *ngIf="_bot.estadoWhatsApp.showQr">
          <button mat-raised-button (click)="generateQR()"><i class="fa-solid fa-qrcode"></i> Generar QR</button>
        </div>
      </div>
    </ng-template>
  </div>
</p-card>


