<div class="main p-4">
  <div class="grid">
    <div class="col-3">
      <p-card>Panel 01</p-card>
    </div>
    <div class="col-3">
      <p-card>Panel 02</p-card>
    </div>
    <div class="col-3">
      <p-card>Panel 03</p-card>
    </div>
    <div class="col-3">
      <p-card>Panel 04</p-card>
    </div>
  </div>
  <div class="grid">
    <div class="col-6">
      <p-card>
        <app-horizontal-bar-chart></app-horizontal-bar-chart>
      </p-card>
    </div>
    <div class="col-6">
      <p-card>

      </p-card>
    </div>
  </div>
</div>
