<div class="main p-4">
  <mat-tab-group dynamicHeight>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon>bar_chart</mat-icon>
        <p class="p-2">Alumnos por grupo</p>
      </ng-template>
      <div class="mt-4">
        <p-card header="Opción de estado">
          <div class="grid flex justify-content-between mt-3">
            <div class="col-12 md:col-6">
              <legend class="pr-3">
                Selecione un estado. Por defecto se encuentra en [matriculas abiertas].
              </legend>
            </div>
            <div class="col-12 md:col-6">
              <p-dropdown class="p-fluid p-grid p-formgrid"
                          [options]="listEstadoGrupo"
                          [(ngModel)]="estadoGrupo"
                          (onChange)="selectedEstado($event)"
                          optionLabel="EstadoGrupo">
              </p-dropdown>
            </div>
          </div>
        </p-card>
      </div>
      <div class="card-container mt-2">
        <p-card>
          <div id="bar-horizontal">
            <div  class="flex justify-content-between mt-4">
              <h2>Estudiantes por grupos</h2>
              <div>
                <button mat-icon-button [matMenuTriggerFor]="menuBarHorizontal">
                  <mat-icon><i class="fa-solid fa-bars"></i></mat-icon>
                </button>
                <mat-menu #menuBarHorizontal="matMenu">
                  <button mat-menu-item
                          [useExistingCss]="true"
                          printSectionId="bar-horizontal"
                          [title]="'Estudiante en grupo'"
                          ngxPrint>
                    <mat-icon><i class="fa-regular fa-file-pdf"></i></mat-icon>
                    <span>Descargar en PDF</span>
                  </button>
                </mat-menu>
              </div>
            </div>
            <div>
              <app-horizontal-bar-chart [data]="dataEstudiantesGrupo"></app-horizontal-bar-chart>
            </div>
          </div>
        </p-card>
      </div>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon>leaderboard</mat-icon>
        <p class="p-2">Mensualidad y mora</p>
      </ng-template>
      <div class="mt-4">
        <p-card header="Opción de estado y grupo">
          <form [formGroup]="formInputs">
            <div class="grid flex justify-content-between mt-3">
              <div class="col-12 md:col-6">
                <p-dropdown class="p-fluid p-grid p-formgrid"
                            [options]="listEstadoGrupo"
                            formControlName="inputEstadoGrupo"
                            (ngModelChange)="selectedEstadoGrupo($event)"
                            optionLabel="EstadoGrupo">
                </p-dropdown>
              </div>
              <div class="col-12 md:col-6">
                <p-dropdown class="p-fluid p-grid p-formgrid"
                            appendTo="body"
                            [options]="listGrupos"
                            formControlName="inputGrupo"
                            (ngModelChange)="selectedGrupo($event)">
                  <ng-template pTemplate="selectedItem">
                    <div class="grupo-item grupo-item-value" *ngIf="grupo">
                        <span class="ml-1">
                          <img class="flag-code-country" [src]="grupo.curso.UrlBandera" alt="">
                          <span class="ml-1">{{grupo.curso.NombreCurso | titlecase }} {{grupo.curso.nivel.Nivel}}
                            <p-tag severity="warning">{{grupo.tipoGrupo.NombreGrupo | titlecase}}</p-tag></span>
                          </span>
                    </div>
                  </ng-template>
                  <ng-template let-grupo pTemplate="item">
                    <div>
                      <img class="flag-code-country" [src]="grupo.curso.UrlBandera" alt="">
                        <span class="ml-1 mr-1">{{grupo.curso.NombreCurso | titlecase }} {{grupo.curso.nivel.Nivel}} <p-tag>{{grupo.tipoGrupo.NombreGrupo | titlecase}}</p-tag></span>
                        <p-tag severity="warning" *ngIf="!grupo.RequeridoPPago">New</p-tag>
                    </div>
                  </ng-template>
                </p-dropdown>
              </div>
            </div>
          </form>
        </p-card>
      </div>
      <div class="mt-2">
        <p-card>
          <div id="bar-vertical">
            <div  class="flex justify-content-between mt-3">
              <h2>Pago y moras por grupo</h2>
              <div>
                <button mat-icon-button [matMenuTriggerFor]="menuBarVertical">
                  <mat-icon><i class="fa-solid fa-bars"></i></mat-icon>
                </button>
                <mat-menu #menuBarVertical="matMenu">
                  <button mat-menu-item
                          [useExistingCss]="true"
                          printSectionId="bar-vertical"
                          [title]="'Estudiante en grupo'"
                          ngxPrint>
                    <mat-icon><i class="fa-regular fa-file-pdf"></i></mat-icon>
                    <span>Descargar en PDF</span>
                  </button>
                </mat-menu>
              </div>
            </div>
            <div>
              <app-vertical-bar-chart [data]="dataPagosMora"></app-vertical-bar-chart>
            </div>
          </div>
        </p-card>
      </div>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">pie_chart</mat-icon>
        <p class="p-2">Índice de la deuda vencida</p>
      </ng-template>
      <div class="grid mt-2">
        <div class="col-12 md:col-6">
          <p-card>
            <h2 class="mb-2">Grupos en proceso</h2>
            <div class="table-responsive">
              <p-table [value]="listGruposLimit"
                       [resizableColumns]="true"
                       columnResizeMode="expand"
                       responsiveLayout="scroll">
                <ng-template pTemplate="header">
                    <tr>
                        <th>ID</th>
                        <th>Código</th>
                        <th>Curso dictado</th>
                        <th>Modalidad</th>
                        <th>Nombre grupo</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-grupo let-rowIndex="rowIndex">
                    <tr class="cursor" (click)="getIndiceData(grupo)">
                      <td>{{startPage + (rowIndex+1)}}</td>
                      <td>{{ grupo.Id  }}</td>
                      <td>
                        <div class="grid">
                          <div class="col-3 flex justify-content-center">
                            <img class="img-flag mr-2" [alt]="'Bandera'+grupo.curso.NombreCurso" [src]="grupo.curso.UrlBandera" alt="" srcset="">
                          </div>
                          <div class="col-9 flex flex-column">
                            <b class="mr-2 mb-1">{{grupo.curso.NombreCurso | titlecase}}</b>
                            {{grupo.curso.nivel.Nivel}}
                          </div>
                        </div>
                      </td>
                      <td>{{ grupo.Modalidad}}</td>
                      <td>{{grupo.tipoGrupo.NombreGrupo}}</td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                  <tr>
                    <td colspan="10">
                      <app-lista-vacia [msg]="'No se encontraron registros de grupos en proceso'"></app-lista-vacia>
                    </td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
            <div>
              <div class="mt-4" *ngIf="resGrupo && resGrupo.count">
                <div class="grid content flex justify-content-between">
                  <p class="text-muted">Grupos en proceso: {{resGrupo.count}}</p>
                  <p></p>
                </div>
                <div class="grid content flex justify-content-between">
                  <div></div>
                  <div>
                    <p-paginator [rows]="5"
                                  [totalRecords]="resGrupo.count!"
                                  [rowsPerPageOptions]="[5,10,15,20]"
                                  (onPageChange)="paginate($event)"></p-paginator>
                  </div>
                  <div></div>
                </div>
              </div>
              <app-loadding *ngIf="loadingGruposLista && listGruposLimit.length==0" msg="Lista de grupos"></app-loadding>
            </div>
          </p-card>
        </div>
        <div class="col-12 md:col-6">
          <p-card>
            <div id="grafico-indice" class="mt-2">
              <div  class="flex justify-content-between mt-3">
                <h2>Índice de la deuda por grupo</h2>
                <div>
                  <button mat-icon-button [matMenuTriggerFor]="menuIndice">
                    <mat-icon><i class="fa-solid fa-bars"></i></mat-icon>
                  </button>
                  <mat-menu #menuIndice="matMenu">
                    <button mat-menu-item
                            [useExistingCss]="true"
                            printSectionId="grafico-indice"
                            ngxPrint>
                      <mat-icon><i class="fa-regular fa-file-pdf"></i></mat-icon>
                      <span>Descargar en PDF</span>
                    </button>
                  </mat-menu>
                </div>
              </div>
              <app-pie-grid-chart title="Pagos realizados"   [data]="total"></app-pie-grid-chart>
              <app-pie-grid-chart title="Índice de la deuda" [data]="indice"></app-pie-grid-chart>
            </div>
          </p-card>
        </div>
      </div>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">trending_up</mat-icon>
        <p class="p-2">Reporte de pagos</p>
      </ng-template>
      <div class="grid mt-2">
        <div class="col-12 md:col-4">
          <form [formGroup]="formInputs">
            <div class="mb-2">
              <p-card header="Resumen general">
                <div class="col">
                  <label for="mesAnio"><p class="mb-2">Año/Mes</p></label>
                  <p-calendar view="month"
                              [(ngModel)]="dateReporteGeneral"
                              [ngModelOptions]="{standalone: true}"
                              class="p-fluid p-grid p-formgrid full-width"
                              dateFormat="yy/mm"
                              [readonlyInput]="true"></p-calendar>
                  <button mat-raised-button
                          (click)="reporteGeneral()"
                          class="full-width mt-3">Reporte general</button>
                </div>
              </p-card>
            </div>
            <div class="mb-2">
              <p-card header="Opción de estado y grupo">
                  <div class="flex flex-column">
                    <div class="col-12 md:col-12 sm:col-12">
                      <label for="inputCategoriaPago" class="block mb-2"><p class="mt-2">Categorias de pago</p></label>
                      <p-dropdown class="p-fluid p-grid p-formgrid"
                                  appendTo="body"
                                  [options]="listCategoriaPago"
                                  formControlName="inputCategoriaPago"
                                  optionLabel="TipoCategoriaPago"></p-dropdown>
                    </div>
                    <div class="col-12 md:col-12 sm:col-12">
                      <label for="inputEstadoGrupo"><p class="mb-2">Estados de los grupos</p></label>
                      <p-dropdown class="p-fluid p-grid p-formgrid"
                                  appendTo="body"
                                  [options]="listEstadoGrupo"
                                  formControlName="inputEstadoGrupo"
                                  (ngModelChange)="selectedEstadoGrupo($event)"
                                  optionLabel="EstadoGrupo">
                      </p-dropdown>
                    </div>
                    <div class="col-12 md:col-12 sm:col-12">
                      <label for="inputEstadoGrupo"><p class="mb-2">Lista grupos</p></label>
                      <p-dropdown class="p-fluid p-grid p-formgrid"
                                  appendTo="body"
                                  [options]="listGrupos"
                                  formControlName="inputGrupo"
                                  (ngModelChange)="selectedGrupo($event)">
                        <ng-template pTemplate="selectedItem">
                          <div class="grupo-item grupo-item-value" *ngIf="grupo">
                              <span class="ml-1">
                                <img class="flag-code-country" [src]="grupo.curso.UrlBandera" alt="">
                                <span class="ml-1">{{grupo.curso.NombreCurso | titlecase }} {{grupo.curso.nivel.Nivel}}
                                  <p-tag severity="warning">{{grupo.tipoGrupo.NombreGrupo | titlecase}}</p-tag></span>
                                </span>
                          </div>
                        </ng-template>
                        <ng-template let-grupo pTemplate="item">
                          <div>
                            <img class="flag-code-country" [src]="grupo.curso.UrlBandera" alt="">
                              <span class="ml-1 mr-1">{{grupo.curso.NombreCurso | titlecase }} {{grupo.curso.nivel.Nivel}} <p-tag>{{grupo.tipoGrupo.NombreGrupo | titlecase}}</p-tag></span>
                          </div>
                        </ng-template>
                      </p-dropdown>
                    </div>
                    <div class="col-12 md:col-12 sm:col-12">
                      <label for="inputModulo" class="block mb-2">Selecione un módulo</label>
                      <p-dropdown class="p-fluid p-grid p-formgrid"
                                  appendTo="body"
                                  [options]="listModulos"
                                  formControlName="inputModulo"
                                  optionLabel="Modulo"></p-dropdown>
                      <!-- <small *ngIf="modulo.hasError('required') && modulo.dirty"
                      class="p-error">El campo módulo del curso es <strong>requerido</strong></small> -->
                    </div>
                    <div class="col">
                      <button mat-raised-button
                              class="full-width"
                              (click)="generarReporteEstudiantes()">Reporte grupo</button>
                    </div>
                  </div>
                </p-card>
            </div>
          </form>
          </div>
        <div class="col-12 md:col-8">
          <div class="mt-2">
            <p-card header="Resumen de pagos en general">
              <div class="flex justify-content-between mb-3">
                <div>
                </div>
                <div>
                  <span class="p-buttonset">
                    <button mat-stroked-button
                            (click)="generarReporteGeneralExcel()"
                            class="ml-1"><i class="fa-solid fa-file-excel icon-size-button"></i>
                    </button>
                    <button mat-stroked-button
                            printTitle="Reporte de pagos general CEID"
                            [useExistingCss]="true"
                            printSectionId="tabla-reporte-general"
                            ngxPrint
                            class="ml-1"><i class="fa-regular fa-file-pdf icon-size-button"></i></button>
                  </span>
                </div>
              </div>
              <div class="table-responsive" id="tabla-reporte-general">
                <p-table [value]="listReporteGeneral"
                         [resizableColumns]="true"
                         columnResizeMode="expand"
                         styleClass="p-datatable-gridlines"
                         responsiveLayout="scroll">
                  <ng-template pTemplate="header">
                      <tr>
                          <th>ID</th>
                          <th>Código grupo</th>
                          <th>Nombre del curso</th>
                          <th>Nivel</th>
                          <th>Categoria pago</th>
                          <th>Total pagos</th>
                      </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-rGeneral let-rowIndex="rowIndex">
                      <tr>
                        <td>{{startPage + (rowIndex+1)}}</td>
                        <td>{{rGeneral.grupoId}}</td>
                        <td>{{rGeneral.NombreCurso}}</td>
                        <td>{{rGeneral.Nivel}}</td>
                        <td>{{rGeneral.TipoCategoriaPago}}</td>
                        <td>{{rGeneral.total_pago | currency: 'PEN': 'symbol': '': 'es-PE'}}</td>
                      </tr>
                  </ng-template>
                  <ng-template pTemplate="emptymessage">
                    <tr>
                      <td colspan="10">
                        <app-lista-vacia [msg]="'Genere un reporte general para visualizar los datos'"></app-lista-vacia>
                      </td>
                    </tr>
                  </ng-template>
                </p-table>
              </div>
            </p-card>
          </div>
          <div class="mt-2">
            <p-card header="Lista de estudiantes">
              <div class="flex justify-content-between mb-2">
                <div></div>
                <div>
                  <span class="p-buttonset">
                    <button mat-stroked-button
                            (click)="genearReportePagosExcel()"
                            class="ml-1"><i class="fa-solid fa-file-excel icon-size-button"></i>
                    </button>
                    <button mat-stroked-button
                            [useExistingCss]="true"
                            printTitle="Reporte de pagos por grupo CEID"
                            printSectionId="tabla-reporte-pagos"
                            ngxPrint
                            class="ml-1"><i class="fa-regular fa-file-pdf icon-size-button"></i></button>
                  </span>
                </div>
              </div>
              <div class="table-responsive" id="tabla-reporte-pagos">
                <p-table [value]="listReportePagos"
                         [resizableColumns]="true"
                         columnResizeMode="expand"
                         styleClass="p-datatable-gridlines"
                         responsiveLayout="scroll">
                  <ng-template pTemplate="header">
                      <tr>
                          <th>ID</th>
                          <th>Código grupo</th>
                          <th>Nombres</th>
                          <th>Apellidos</th>
                          <th>Categoria pago</th>
                          <th>Monto pago</th>
                          <th>Código voucher</th>
                          <th>Fecha de pago</th>
                      </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-reporte let-rowIndex="rowIndex">
                      <tr>
                        <td>{{startPage + (rowIndex+1)}}</td>
                        <td>{{reporte.grupoId}}</td>
                        <td>{{reporte.Nombres}}</td>
                        <td>{{reporte.ApellidoPaterno}} {{reporte.ApellidoMaterno}}</td>
                        <td>{{reporte.TipoCategoriaPago}}</td>
                        <td>{{reporte.MontoPago | currency: 'PEN': 'symbol': '': 'es-PE'}}</td>
                        <td>{{reporte.CodigoVoucher}}</td>
                        <td>{{reporte.FechaPago | date:'mediumDate'}}</td>
                      </tr>
                  </ng-template>
                  <ng-template pTemplate="emptymessage">
                    <tr>
                      <td colspan="10">
                        <app-lista-vacia [msg]="'No se encontraron registros de grupos en proceso'"></app-lista-vacia>
                      </td>
                    </tr>
                  </ng-template>
                </p-table>
              </div>
            </p-card>
          </div>
        </div>
      </div>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">table_chart</mat-icon>
        <p class="p-2">Reporte de otros pagos</p>
      </ng-template>
      <div class="grid mt-3">
        <div class="col-12 md:col-4">
          <p-card header="Resumen otros pagos">
            <div class="col">
              <label for="mesAnio"><p class="mb-2">Año/Mes</p></label>
              <p-calendar view="month"
                          [(ngModel)]="dateReporteGeneral"
                          appendTo="body"
                          [ngModelOptions]="{standalone: true}"
                          class="p-fluid p-grid p-formgrid full-width"
                          dateFormat="yy/mm"
                          [readonlyInput]="true"></p-calendar>
              <button mat-raised-button
                      (click)="reporteOtrosPagos()"
                      class="full-width mt-3">Reporte otros pagos</button>
            </div>
          </p-card>
        </div>
        <div class="col-12 md:col-8">
          <div class="mt-2">
            <p-card header="Resumen de pagos en general">
              <div class="flex justify-content-between mb-3">
                <div>
                </div>
                <div>
                  <span class="p-buttonset">
                    <button mat-stroked-button
                            (click)="generarReporteGeneralExcel()"
                            class="ml-1"><i class="fa-solid fa-file-excel icon-size-button"></i>
                    </button>
                    <button mat-stroked-button
                            printTitle="Reporte de otros pagos CEID"
                            [useExistingCss]="true"
                            printSectionId="tabla-reporte-otros-pagos"
                            ngxPrint
                            class="ml-1"><i class="fa-regular fa-file-pdf icon-size-button"></i></button>
                  </span>
                </div>
              </div>
              <div class="table-responsive" id="tabla-reporte-otros-pagos">
                <p-table [value]="listReporteOtrosPagos"
                         [resizableColumns]="true"
                         columnResizeMode="expand"
                         styleClass="p-datatable-gridlines"
                         responsiveLayout="scroll">
                  <ng-template pTemplate="header">
                      <tr>
                          <th>ID</th>
                          <th>Tipo categoria otros</th>
                          <th>Monto pago S/.</th>
                          <th>Mes</th>
                      </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-otros let-rowIndex="rowIndex">
                      <tr>
                        <td>{{startPage + (rowIndex+1)}}</td>
                        <td>{{otros.TipoTramite}}</td>
                        <td>{{otros.total_pago | currency: 'PEN': 'symbol': '': 'es-PE'}}</td>
                        <td>{{otros.Num_mes}}</td>
                      </tr>
                  </ng-template>
                  <ng-template pTemplate="emptymessage">
                    <tr>
                      <td colspan="10">
                        <app-lista-vacia [msg]="'Genere un reporte general para visualizar los datos'"></app-lista-vacia>
                      </td>
                    </tr>
                  </ng-template>
                </p-table>
              </div>
            </p-card>
          </div>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>

