<div class="main p-5 mt-4">
  <div class="grid flex justify-content-center align-items-center animate__animated animate__fadeIn">
    <div class="col-12 md:col-6 flex justify-content-center">
      <div>
        <h1 class="p-4">Bienvenid@ al sistema CEIDBOT</h1>
        <p class="pl-4">Sistema de administración de estudiantes, cursos, matricula, docentes y gestión de cobranzas mediante un chatbot con inteligencia artificial.</p>
      </div>
    </div>
    <div class="col-12 md:col-6 flex justify-content-center animate__animated animate__zoomIn">
      <img class="img-welcome"
           [src]="'./assets/images/welcome/welcome-0'+randNum+'.svg'" alt="">
    </div>
  </div>
  <div class="text-center">
  </div>
</div>
