<div class="animate__animated animate__fadeIn">
  <p-card>
    <div class="flex justify-content-between content-options">
      <div></div>
      <div class="col-6 flex justify-content-end">
        <div>
          <button mat-raised-button
                  (click)="openModalTGrupo()"
                  class="button-custom-round"><i class="fa-solid fa-plus"></i> Nombre grupo</button>
          <button mat-raised-button
                  (click)="openModalHorario()"
                  class="button-custom-round ml-2"><i class="fa-solid fa-plus"></i> Horario</button>
        </div>
      </div>
    </div>
    <div class="content-form">
      <app-form-grupo (formData)="saveGrupo($event)" [loading]="loading"></app-form-grupo>
    </div>
  </p-card>
</div>
<!-- these are modals groups -->
<app-modal-horario></app-modal-horario>
<app-modal-tipo-grupo></app-modal-tipo-grupo>
