<div class="animate__animated animate__fadeIn">
  <p-card header="Lista de tramites">
    <div class="grid justify-content-center justify-content-between">
      <div class="col-12 md:col-3">
        <app-input-search (busqueda)="busquedaTermino($event)"
                          placeholder="Buscar nombres/DNI"></app-input-search>
      </div>
      <div class="col-12 md:col-9 flex justify-content-end">
        <div>
          <!-- <button mat-raised-button
                  [matMenuTriggerFor]="menuFilter"
                  class="button-custom-round mr-2">{{selectEstadoGrupo | titlecase}} <i class="pi pi-filter-fill ml-2"></i></button>
          <mat-menu #menuFilter="matMenu">
            <button mat-menu-item
                    *ngFor="let item of listEstadosGrupo"
                    (click)="selectForFiltro(item)">
                    <i class="pi"
                       [ngClass]="{'pi-filter-fill':item.CodeEstado==selectCodeEstado,
                                   'pi-filter':item.CodeEstado!=selectCodeEstado}"></i> {{item.EstadoGrupo | titlecase}}
            </button>
          </mat-menu> -->
          <button mat-raised-button
                  type="button"
                  class="button-custom-round"
                  routerLink="/system/grupos/add-grupo">
                  <i class="fa-solid fa-plus"></i> Filtrar
          </button>
        </div>
      </div>
    </div>
    <div class="col table-responsive content-tables">
      <p-table [value]="_tramite.listTramites | busdTramite:termino"
               responsiveLayout="scroll"
               [rowHover]="true"
               [resizableColumns]="true"
               columnResizeMode="expand">
        <ng-template pTemplate="header">
            <tr>
              <th>N°</th>
              <th>Nombres y apellidos</th>
              <th>Contacto</th>
              <th>Tipo de trámite</th>
              <th>Monto S/.</th>
              <th>N° de operación</th>
              <th>Pago validado</th>
              <th>Requisitos</th>
              <th>Validar pago</th>
              <th>Más</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-tramite let-rowIndex="rowIndex">
            <tr class="tr-custom">
              <td>{{rowIndex+1}}</td>
              <td>{{tramite.estudiante.Nombres | titlecase}} {{tramite.estudiante.ApellidoPaterno | titlecase}}</td>
              <td>
                <div class="flex-column">
                  <div>{{tramite.estudiante.Email}}</div>
                  <div>{{tramite.estudiante.CodePhone}} {{tramite.estudiante.Celular}}</div>
                  <div>{{tramite.estudiante.Direccion}}</div>
                </div>
              </td>
              <td>{{tramite.tipoTramite.TipoTramite}}</td>
              <td>{{tramite.pago.MontoPago | currency: 'PEN': 'symbol': '': 'es-PE'}}</td>
              <td>{{tramite.pago.CodigoVoucher}}</td>
              <td>
                <p-tag [severity]="tramite.pago.Verificado?'success':'danger'">
                  {{tramite.pago.Verificado?'Verificado':'No verificado'}}
                </p-tag>
              </td>
              <td>
                <button mat-stroked-button (click)="op.toggle($event)"><i class="fa-solid fa-link"></i> ver</button>
                <p-overlayPanel #op>
                  <p class="tag-a p-2" (click)="showFileDocumento(tramite)">
                    <i class="fa-solid fa-file"></i> Documentos adjunto
                  </p>
                  <p *ngIf="tramite.UrlRequisitoExtra" class="tag-a p-2" (click)="showFileDocumentoExtra(tramite)">
                    <i class="fa-solid fa-image"></i> Fotografía adjunta
                  </p>
                </p-overlayPanel>
              </td>
              <td>
                <button mat-stroked-button (click)="openModalValidarPago(tramite.pago)">
                  <i class="fa-solid fa-pen-to-square"></i> Validar
                </button>
              </td>
              <td class="text-center">
                <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                  <mat-icon><i class="fa-solid fa-ellipsis-vertical"></i></mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                  <button mat-menu-item>
                    <mat-icon><i class="fa-solid fa-circle-info"></i></mat-icon>
                    <span>Ver más</span>
                  </button>
                  <button mat-menu-item (click)="notificarEstudiante(tramite.estudiante)">
                    <mat-icon><i class="fa-brands fa-whatsapp"></i></mat-icon>
                    <span>Notificar estudiante</span>
                  </button>
                  <button mat-menu-item (click)="confirmDeleteTramite(tramite)">
                    <mat-icon><i class="fa-solid fa-trash-can"></i></mat-icon>
                    <span>Eliminar</span>
                  </button>
                </mat-menu>
              </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="10">
              <app-lista-vacia [msg]="'No se encontraron registros'"></app-lista-vacia>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
    <div>
      <div class="mt-4" *ngIf="_tramite.respTramite && _tramite.respTramite.count">
        <div class="grid content">
          <div class="col-12 md:col-3">
              <p class="text-muted">Total de grupos: {{_tramite.respTramite.count}}</p>
          </div>
          <div class="col-12 md:col-6">
            <p-paginator  [rows]="5"
                          [totalRecords]="_tramite.respTramite.count!"
                          [rowsPerPageOptions]="[5,10,15,20]"
                          (onPageChange)="paginate($event)"></p-paginator>
          </div>
          <div class="col-12 md:col-3"></div>
        </div>
      </div>
    </div>
    <app-loadding *ngIf="_tramite.loadingLista && _tramite.listTramites.length==0" msg="Lista de grupos"></app-loadding>
  </p-card>
</div>
<!-- componente para la visualización de documentos -->
<app-show-file [fileURL]="fileURL"></app-show-file>
<!-- componente para visualizar el modal del mensualidad -->
<app-modal-mensualidad [nameEventUpdate]="nameEventSocketUpdate"></app-modal-mensualidad>
<!-- Delete message dialog -->
<p-confirmDialog [style]="{width: '50vw'}"
                 key="deleteTramiteDialog"
                 position="top"
                 [baseZIndex]="10000"
                 acceptLabel="Confirmar"
                 [breakpoints]="{'960px': '75vw', '640px': '100vw'}"
                 rejectButtonStyleClass="p-button-outlined"></p-confirmDialog>
<!-- side bar message whatsapp -->
<app-sidebar-message [sidebarMessage]="openSidebar"
                     [dataEstudiante]="dataEstudianteMessage"
                     (estadoModal)="estadoModalMessage($event)"></app-sidebar-message>
