.content-examen-suf{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
}
.content-card-exam-suf{
  width: 70%;
  height: 400px;
}
.header-conatiner-exam-suf{
  height: 100px;
}
