<div class="animate__animated animate__fadeIn">
  <div class="mb-2">
    <div class="grid">
      <div class="col-12 md:col-5">
        <p-card *ngIf="curso && grupo">
          <div class="p-2">
            <div class="flex justify-content-between">
              <div class="flex">
                <figure class="pr-2">
                  <img class="img-flag" [src]="curso.UrlBandera" alt="bandera">
                </figure>
                <h2>
                  <p>{{curso.NombreCurso | titlecase}} - {{curso.nivel.Nivel}}</p>
                </h2>
              </div>
              <div><p-tag>Cód: G-{{grupo.Id}}</p-tag></div>
            </div>
            <p class="mt-2"><b>Docente asignado</b></p>
            <p class="mt-1" *ngIf="docente">{{docente.Nombres | titlecase}} {{grupo.docente.ApellidoPaterno | titlecase}}</p>
            <p class="mt-2"><b>Número de módulos</b></p>
            <p class="mt-1">{{curso.modulo.Modulo}} Módulos</p>
            <p class="mt-2"><b>Grupo asignado</b></p>
            <p class="mt-1">{{grupo.tipoGrupo.NombreGrupo | titlecase}}</p>
          </div>
        </p-card>
      </div>
      <div class="col-12 md:col-7">
        <p-card *ngIf="grupo && infoDateGrupo">
          <div class="p-1">
            <div class="flex justify-content-between">
              <h2>Estado del grupo</h2>
              <p>{{infoDateGrupo.fechaActual | date:'fullDate'}}</p>
            </div>
            <div class="grid">
              <div class="col-12 md:col-6">
                <p class="mt-2">
                  <b>Fecha de inicio del grupo</b>
                </p>
                <p class="mt-1">
                  {{grupo.FechaInicioGrupo | date}}
                </p>
                <p class="mt-2">
                  <b>Fecha final del grupo</b>
                </p>
                <p class="mt-1">
                 {{grupo.FechaFinalGrupo | date}}
                </p>
                <p class="mt-2">
                  <b>Dias transcurridos</b>
                </p>
                <div class="mt-1">
                  <p>
                    {{infoDateGrupo.diasTranscurridos}}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </p-card>
      </div>
    </div>
    <div>
      <p-card header="Fechas de pago" *ngIf="grupo">
        <div class="p-1 content-time-line">
          <p-timeline [value]="grupo.grupoModulo" layout="horizontal" align="top">
            <ng-template pTemplate="content" let-data>
              <div class="p-1 tag-a content-date" (click)="opendModalEdit(data, grupo.Id)">
                <p-tag>{{ data.FechaPago | date:'mediumDate' | titlecase }} <i class="fa-solid fa-pen ml-2"></i></p-tag>
              </div>
            </ng-template>
            <ng-template pTemplate="opposite" let-event>
              <div class="p-1 content-title-modulo" [ngClass]="{'current-modulo':event.CurrentModulo}">
                {{ 'Inicio módulo '+event.modulo.Modulo}}
              </div>
            </ng-template>
          </p-timeline>
        </div>
      </p-card>
    </div>
  </div>
  <p-card header="Lista de estudiantes en el grupo">
    <div class="col table-responsive">
      <p-toolbar>
        <div class="p-toolbar-group-start">
            <span class="p-input-icon-left" style="width: 250px;">
              <i class="pi pi-search"></i>
              <input type="text"
                     pInputText
                     name="termino"
                     #termino
                     pattern="^[a-zA-Z0-9]+$"
                     (keyup)="terminoBusqueda = termino.value"
                     class="full-width"
                     placeholder="Buscar por nombres / DNI" />
            </span>
        </div>
        <div class="p-toolbar-group-end">
          <button mat-raised-button
                  [matMenuTriggerFor]="menuFilter"
                  color="primary">{{selectCategoria | titlecase}}<i class="pi pi-filter-fill ml-2"></i></button>
          <mat-menu #menuFilter="matMenu">
            <button mat-menu-item
                    *ngFor="let item of listCategoriaPago"
                    (click)="selectFilter(item)">
                    <i class="pi" [ngClass]="{'pi-filter-fill':item.TipoCategoriaPago==selectCategoria,
                                              'pi-filter':item.TipoCategoriaPago!=selectCategoria}"></i> {{item.TipoCategoriaPago | titlecase}}
            </button>
          </mat-menu>
        </div>
      </p-toolbar>
      <p-table [value]="listaEstudiantes | buscarEstudiante:terminoBusqueda"
               responsiveLayout="scroll"
               [rowHover]="true"
               dataKey="Id">
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 3rem"></th>
                <th>N°</th>
                <th>Nombres y apellidos</th>
                <th>Contacto</th>
                <th>Estado</th>
                <th>Tipo población</th>
                <th>Req. matricula</th>
                <th>Matricula</th>
                <th>Mensualidad</th>
                <th>Más</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-grupo let-rowIndex="rowIndex" let-expanded="expanded">
          <tr class="select-tr">
            <td>
              <button type="button"
                      pButton
                      pRipple
                      [pRowToggler]="grupo"
                      class="p-button-text p-button-rounded p-button-plain" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
            </td>
            <td>{{rowIndex+1}}</td>
            <td>
                {{grupo.estudiante.Nombres | titlecase}}
                {{grupo.estudiante.ApellidoPaterno | titlecase}}
                {{grupo.estudiante.ApellidoMaterno | titlecase}}</td>
            <td>{{grupo.estudiante.CodePhone}} {{grupo.estudiante.Celular}} <br> {{grupo.estudiante.Email}} </td>
            <td><p-tag severity="success">{{grupo.matricula.EstadoMatricula}}</p-tag></td>
            <td>{{grupo.matricula.denomiServicio.Descripcion | slice:0:45}}...</td>
            <td><button mat-button (click)="showFile(grupo.matricula.FileMatriculaURL)"><i class="pi pi-file-pdf icon-size"></i> ver</button></td>
            <td>{{grupo.matricula.denomiServicio.MontoMatricula | currency: 'PEN': 'symbol': '': 'es-PE'}}</td>
            <td>{{grupo.matricula.denomiServicio.MontoPension | currency: 'PEN': 'symbol': '': 'es-PE'}}</td>
            <td>
              <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item
                        [routerLink]="['/system/grupos/estudiantes-grupo', grupo.Id, 'estudiante', grupo.estudiante.Id]">
                  <mat-icon><i class="fa-solid fa-circle-info"></i></mat-icon>
                  <span>ver más</span>
                </button>
                <button mat-menu-item (click)="openModalSidebarMessage( grupo.estudiante )">
                  <mat-icon><i class="fa-brands fa-whatsapp"></i></mat-icon>
                  <span>Notificar estudiante</span>
                </button>
                <button mat-menu-item>
                  <mat-icon><i class="fa-solid fa-pen-to-square"></i></mat-icon>
                  <span>Editar datos estudiante</span>
                </button>
                <button mat-menu-item (click)="confirmarEliminar(grupo)">
                  <mat-icon><i class="fa-solid fa-trash-can"></i></mat-icon>
                  <span>Eliminar del grupo</span>
                </button>
              </mat-menu>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="rowexpansion" let-grupo>
          <tr>
            <td colspan="11">
              <h2 class="pb-3">Lista de pagos</h2>
              <div class="p-p-3">
                <p-table [value]="grupo.pagos | filterPago:selectCategoria" responsiveLayout="scroll" dataKey="Id">
                  <ng-template pTemplate="header">
                    <tr>
                      <th>N°</th>
                      <th>Código de voucher</th>
                      <th>Fecha de pago</th>
                      <th>Monto de pago</th>
                      <th>Categoría de pago</th>
                      <th>Voucher</th>
                      <th>Estado pago</th>
                      <th>Validar pago</th>
                      <th>Más</th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-rowIndex="rowIndex" let-pago>
                    <tr>
                      <td>{{rowIndex+1}}</td>
                      <td>{{pago.CodigoVoucher | empty:'código'}}</td>
                      <td>{{pago.FechaPago | date:'longDate' | empty:'fecha' }}</td>
                      <td>{{pago.MontoPago | currency: 'PEN': 'symbol': '': 'es-PE' }}</td>
                      <td>{{pago.categoriaPago.TipoCategoriaPago | titlecase}}
                        <span *ngIf="pago.grupoModulo">
                          del <p-tag severity="success">módulo {{pago.grupoModulo.modulo.Modulo}}</p-tag>
                        </span>
                        <span *ngIf="pago.categoriaPago.CodeCategoriaPago=='category_mensualidad' && !pago.grupoModulo">
                          <p-tag severity="danger">asigne módulo</p-tag>
                        </span>
                      <td>
                        <button mat-button (click)="showFile(pago.VoucherUrl)"><i class="pi pi-link"></i> ver</button>
                      </td>
                      <td>
                        <div *ngIf="pago.Verificado, else NotVerify">
                          <p-tag icon="pi pi-check" value="Verificado"></p-tag>
                        </div>
                        <ng-template #NotVerify>
                          <p-tag icon="pi pi-times" severity="danger" value="No verificado"></p-tag>
                        </ng-template>
                      </td>
                      <td><button mat-stroked-button (click)="openModalValidarPago(pago)"><i class="fa-regular fa-pen-to-square p-1"></i> Validar pago </button></td>
                      <td>
                        <button mat-icon-button [matMenuTriggerFor]="menu">
                          <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu="matMenu">
                          <button mat-menu-item>
                            <mat-icon><i class="fa-solid fa-circle-info"></i></mat-icon>
                            <span>Acerca del pago</span>
                          </button>
                          <button mat-menu-item (click)="confirmarEliminarPago(pago)">
                            <mat-icon><i class="fa-solid fa-trash-can"></i></mat-icon>
                            <span>Eliminar pago</span>
                          </button>
                        </mat-menu>
                      </td>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="emptymessage">
                      <tr>
                          <td colspan="11"><app-lista-vacia msg="No se encontraron registros de vouchers del estudiante"></app-lista-vacia></td>
                      </tr>
                  </ng-template>
                </p-table>
              </div>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="11"><app-lista-vacia [msg]="'No se encontraron registros con coincidentes con '+terminoBusqueda"></app-lista-vacia></td>
          </tr>
        </ng-template>
      </p-table>
    </div>
    <div>
      <div class="mt-4" *ngIf="resAlumnoEnGrupo && resAlumnoEnGrupo.count">
        <div class="grid content flex justify-content-between">
          <p class="text-muted">Total de estudiantes: {{resAlumnoEnGrupo.count}}</p>
          <p></p>
        </div>
        <div class="grid content flex justify-content-between">
          <div></div>
          <div>
            <p-paginator [rows]="5"
                         [totalRecords]="resAlumnoEnGrupo.count!"
                         [rowsPerPageOptions]="[5,10,15,20]"
                        (onPageChange)="paginate($event)"></p-paginator>
          </div>
          <div></div>
        </div>
      </div>
      <app-loadding *ngIf="loadingLista && listaEstudiantes.length==0" msg="Lista de usuarios"></app-loadding>
    </div>
  </p-card>
</div>

<!-- componente para la visualización de documentos -->
<app-show-file [fileURL]="fileURL"></app-show-file>
<!-- componente para visualizar el modal del mensualidad -->
<app-modal-mensualidad [nameEventUpdate]="nameEventSocket"></app-modal-mensualidad>
<!-- componente modal para las fechas de pago -->
<app-modal-fechas-pago [formFecha]="formFecha"
                       [visibleModal]="visibleModalFecha"
                       (estadoModal)="estadoModalFecha($event)"></app-modal-fechas-pago>
<!-- side bar message whatsapp -->
<app-sidebar-message [sidebarMessage]="openSidebarMessage"
                     [dataEstudiante]="dataEstudianteMessage"
                     (estadoModal)="estadoModalMessage($event)"></app-sidebar-message>
<!-- Delete message dialog estududiante del grupo -->
<p-confirmDialog [style]="{width: '50vw'}"
                 key="deleteEstudentGrupoDialog"
                 position="top"
                 [baseZIndex]="10000"
                 acceptLabel="Confirmar"
                 [breakpoints]="{'960px': '75vw', '640px': '100vw'}"
                 rejectButtonStyleClass="p-button-outlined"></p-confirmDialog>
<!-- Delete message dialog eliminar pago -->
<p-confirmDialog [style]="{width: '50vw'}"
                 key="deletePagoDialog"
                 position="top"
                 [baseZIndex]="10000"
                 acceptLabel="Confirmar"
                 [breakpoints]="{'960px': '75vw', '640px': '100vw'}"
                 rejectButtonStyleClass="p-button-outlined"></p-confirmDialog>
