.pdf-icon{
  font-size: 25px;
}
.iframe{
  width: 100%;
  height: 430px;
}
.content-iframe{
  overflow: hidden !important;
  position: relative;
}
.content-radio{
  cursor: pointer;
}
.select-radio{
  display: none;
}
.chip input[type=radio]{
  display: none;
}
.chip input[type=radio]:checked + span{
  display: block;
  color: #F9A826;
}
.content-title-modulo, .content-date{
  display: inline-block;
  white-space: nowrap;
}
.current-modulo{
  background: #F9A826;
  color: #fff;
  padding: 1px;
  border-radius: 4px;
}
.content-time-line{
  overflow-x: scroll;
}
.content-time-line::-webkit-scrollbar{
  display: none;
}
@media only screen and (min-width: 1200px) {
  /* Estilos para escritorio grande aquí */
  .iframe{
    height: 430px;
  }
}
