.pdf-icon{
  font-size: 25px;
}
.iframe{
  width: 100%;
  height: 430px;
}
.content-iframe{
  overflow: hidden !important;
  position: relative;
}
.content-title-modulo, .content-date{
  display: inline-block;
  white-space: nowrap;
}
.current-modulo{
  background: #F9A826;
  color: #fff;
  padding: 1px;
  border-radius: 4px;
}
.content-time-line{
  overflow-x: scroll;
}
.content-time-line::-webkit-scrollbar{
  display: none;
}
.select-tr-matriculado{
  background:rgba(5, 160, 51, 0.188) !important;
  color: var(--text-color);
}
.legend-matriculado{
  color: rgba(5, 160, 51, 0.188);
}
.legend-retirado{
  color: rgba(160, 5, 5, 0.331);
}
.select-tr-retirado{
  background:rgba(160, 5, 5, 0.331) !important;
  color: var(--text-color);
}
@media only screen and (min-width: 1200px) {
  /* Estilos para escritorio grande aquí */
  .iframe{
    height: 430px;
  }
}
