<div>
  <div class="c-skeleton"></div>
</div>
<div class="content-grupo animate__animated animate__fadeIn" *ngIf="grupo">
  <div class="grid content view-grupo">
    <div class="col-12 md:col-4">
      <div class="conten-sub-buttons">
        <button pButton
                pRipple
                type="button"
                icon="fa-solid fa-arrow-left"
                routerLink="/system/grupos/lista-grupos"
                pTooltip="Regresara a lista" tooltipPosition="bottom"
                class="p-button-rounded p-button-text mr-3 custom-btn"></button>
        <button pButton
                pRipple
                type="button"
                icon="fa-solid fa-users"
                [routerLink]="['/system/grupos/estudiantes-grupo', grupo.Id]"
                pTooltip="Estudiantes en el grupo" tooltipPosition="bottom"
                class="p-button-rounded p-button-text p-button-plain custom-btn"></button>
        <button pButton
                pRipple
                type="button"
                icon="fa-solid fa-pen-to-square"
                [routerLink]="['/system/grupos/edit-grupo', grupo.Id]"
                pTooltip="Editar grupo" tooltipPosition="bottom"
                class="p-button-rounded p-button-text p-button-plain custom-btn"></button>
      </div>
      <div class="mt-2">
        <p-fieldset legend="Información del grupo">
          <div class="flex justify-content-center justify-content-between">
            <h2 class="mb-2">{{grupo.tipoGrupo.NombreGrupo | titlecase }}</h2>
            <p-tag styleClass="mr-2" severity="success" [rounded]="true"><p>Cód: G-{{grupo.Id}}</p></p-tag>
          </div>
          <div>
            <p class="mt-2"><b>Estado del grupo</b></p>
            <p class="mt-1"><p-tag severity="info">{{grupo.estadoGrupo.EstadoGrupo}}</p-tag></p>
            <p class="mt-2">
              <b>Fecha de inicio - finalización del grupo</b>
            </p>
            <div class="mt-1">
              {{grupo.FechaInicioGrupo | date:'longDate'}} al {{grupo.FechaFinalGrupo | date:'longDate'}}
            </div>
            <p class="mt-2">
              <b> Cantidad máximo de estudiantes</b>
            </p>
            <p class="mt-1">
              {{grupo.MaximoEstudiantes }} estudiantes
            </p>
            <p class="mt-2">
              <b>Modalidad</b>
            </p>
            <p class="mt-1">
              {{grupo.Modalidad}}
            </p>
            <p class="mt-2">
              <b>Horario</b>
            </p>
            <p class="mt-1">
              {{grupo.horario.HoraInicio | date:'h:mm a'}} - {{grupo.horario.HoraFinal | date:'h:mm a'}}
            </p>
            <p class="mt-2">
              <b>Descripción del grupo</b>
            </p>
            <div class="mt-1 content-description">
              {{grupo.DescGrupo}}
            </div>
          </div>
        </p-fieldset>
      </div>
      <div class="mt-3" *showForRoles="['admin_role','supervisor_role']">
        <p-card>
          <h2>Estado del grupo</h2>
          <div class="col-12">
            <p-dropdown class="p-fluid p-grid p-formgrid"
                        [options]="listEstadoGrupo"
                        [(ngModel)]="estadoGrupo"
                        placeholder="Selecione el grupo"
                        optionLabel="EstadoGrupo">
              </p-dropdown>
          </div>
          <div *ngIf="estadoGrupo" class="col content-description">
            <app-note-message [msg]="estadoGrupo.DescripcionEstadoGrupo"></app-note-message>
          </div>
          <div class="col">
            <button mat-raised-button
                    (click)="saveEstadoGrupo()"
                    [disabled]="loadingSave">
                   <i class="pi" [ngClass]="{'pi-spin pi-spinner': loadingSave}"></i> Guardar
            </button>
          </div>
        </p-card>
      </div>
    </div>
    <div class="col-12 md:col-8">
      <p-card>
        <div class="p-2">
          <div class="flex justify-content-center justify-content-between">
            <h2 class="mb-2"><i class="fa-solid fa-book"></i> Curso en el grupo</h2>
            <img class="img-view-grupo" [src]="grupo.curso.UrlBandera" alt="">
          </div>
          <div class="grid content">
            <div class="col-12 md:col-3">
              <p class="mt-2"><b>País</b></p>
              <p class="mt-1">{{grupo.curso.NombrePais}}</p>
              <p class="mt-2"><b>Curso</b></p>
              <p class="mt-1">{{grupo.curso.NombreCurso | titlecase }}</p>
            </div>
            <div class="col-12 md:col-3">
              <p class="mt-2"><b>Cantidad de módulos</b></p>
              <p class="mt-1">{{grupo.curso.modulo.Modulo}} módulos</p>
              <p class="mt-2"><b>Nivel del curso</b></p>
              <p class="mt-1">{{grupo.curso.nivel.Nivel}}</p>
            </div>
            <div class="col-12 md:col-6">
              <p class="mt-2"><b>Descripción del curso</b></p>
              <p class="mt-1">{{grupo.curso.DescripcionCurso}}</p>
            </div>
          </div>
          <div class="flex justify-content-center justify-content-between">
            <h2 class="mb-2"><i class="fa-solid fa-chalkboard-user"></i> Docente en el grupo</h2>
          </div>
          <div class="grid content">
            <div class="col-12 md:col-3">
              <p class="mt-2"><b>Docente</b></p>
              <p class="mt-1">{{grupo.docente.Nombres | titlecase}} {{grupo.docente.ApellidoPaterno | titlecase}} {{grupo.docente.ApellidoMaterno | titlecase}}</p>
              <p class="mt-2"><b>Dirección</b></p>
              <p class="mt-1">{{grupo.docente.Direccion }}</p>
            </div>
            <div class="col-12 md:col-3">
              <p class="mt-2"><b>Email</b></p>
              <p class="mt-1">{{grupo.docente.Email}}</p>
              <p class="mt-2"><b>Celular</b></p>
              <p class="mt-1">{{grupo.docente.Celular }}</p>
            </div>
            <div class="col-12 md:col-6">
              <div class="col-12 flex
                          justify-content-center
                          align-items-center
                          flex-column">
                  <h3 class="pb-2">Estudiantes registrados</h3>
                  <p-knob [(ngModel)]="grupo.NumeroEstudiantes"
                          [max]="grupo.MaximoEstudiantes"
                          [readonly]="true"
                          [size]="120"
                          valueColor="orange" rangeColor="#989898"></p-knob>
                  <h4 class="m-1">{{grupo.NumeroEstudiantes}} de {{grupo.MaximoEstudiantes}} estudiantes</h4>
              </div>
            </div>
          </div>
        </div>
      </p-card>
      <div class="mt-2">
        <p-card>
          <h2>Recordatorios de pagos y moras</h2>
          <article class="p-2 mt-2">
            <app-note-message msg="Es importante tomar en cuentas estas opciones para realizar los cobros de los grupos.
            Cada grupo tiene estas opciones a considerar."></app-note-message>
          </article>
          <div>
            <form [formGroup]="formRecodatorioPago">
              <div class="col-12">
                <label for="RT" class="block mb-2">Aplicar mora al grupo</label>
                <div class="field-checkbox">
                  <p-checkbox [binary]="true" inputId="RT" formControlName="AplicaMora"></p-checkbox>
                  <label for="RT">Marque el check para aplicar la mora al grupo en cada mensualidad del curso.</label>
                </div>
                <!-- <small *ngIf="RequiTecnologico.hasError('required') && RequiTecnologico.dirty"
                            class="p-error">Este campo es <strong>requerido</strong></small> -->
              </div>
              <div class="col-12">
                <label for="NG" class="block mb-2">Enviar recordatorios de pago</label>
                <div class="field-checkbox">
                  <p-checkbox [binary]="true" inputId="NG" formControlName="NotificarGrupo"></p-checkbox>
                  <label for="NG">Marque el check para enviar recordatorios de pago al grupo. Esta función necesita tener a CEIDBOT activo.</label>
                </div>
                <!-- <small *ngIf="RequiTecnologico.hasError('required') && RequiTecnologico.dirty"
                            class="p-error">Este campo es <strong>requerido</strong></small> -->
              </div>
              <div class="col">
                <label for="MontoPago" class="block mb-2">Monto de mora del grupo S/.</label>
                <p-inputNumber inputId="minmaxfraction"
                                mode="decimal"
                                placeholder="Monto de mora"
                                class="p-fluid p-grid p-formgrid full-width"
                                formControlName="MontoMora"
                                [min]="0"
                                [max]="100"
                                [minFractionDigits]="2"
                                [maxFractionDigits]="5"></p-inputNumber>
                <!-- <small *ngIf="MontoPago.hasError('pattern') && !MontoPago.hasError('required')"
                        class="p-error">Digite un monto de pago <strong>válido</strong></small>
                <small *ngIf="MontoPago.hasError('required') && MontoPago.dirty"
                        class="p-error">El campo monto de pago es <strong>requerido</strong></small> -->
              </div>
              <div class="col">
                <label for="NumDiasHolaguraMora" class="block mb-2">Número de dias de holgura</label>
                <p-inputNumber  inputId="integeronly"
                                mode="decimal"
                                [useGrouping]="false"
                                placeholder="Número de dias de holgura"
                                class="p-fluid p-grid p-formgrid full-width"
                                formControlName="NumDiasHolaguraMora"
                                [min]="0"
                                [max]="20"></p-inputNumber>
                <!-- <small *ngIf="MontoPago.hasError('pattern') && !MontoPago.hasError('required')"
                        class="p-error">Digite un monto de pago <strong>válido</strong></small>
                <small *ngIf="MontoPago.hasError('required') && MontoPago.dirty"
                        class="p-error">El campo monto de pago es <strong>requerido</strong></small> -->
              </div>
              <div align="end" class="col">
                <button mat-raised-button
                        (click)="save()"
                        [disabled]="saveLoading"><i [class]="saveLoading?'pi pi-spin pi-spinner':'pi pi-save'"></i> Guardar</button>
              </div>
            </form>
          </div>
        </p-card>
      </div>
    </div>
  </div>

</div>
<!-- A component that is used to show messages to the user. -->
<p-toast position="top-bottom" [breakpoints]="{'920px': {width: '100%', bottom: '0', left: '0', padding:'10px'}}"></p-toast>
