<form [formGroup]="formCurso">
  <div class="mb-1">
    <div *ngIf="isUpdate else notUpdate">
      <h2 class="ml-1"><i class="fa-solid fa-pen-to-square"></i> Editar curso</h2>
    </div>
    <ng-template #notUpdate>
      <h2 class="ml-1"><i class="fa-solid fa-book-open"></i> Registro curso</h2>
    </ng-template>
  </div>
  <div class="grid content">
    <div class="col-12 md:col-6">
      <div class="col">
        <label for="Nombres" class="block mb-2">País del idioma</label>
        <div class="p-inputgroup">
          <span class="p-inputgroup-addon">
            <span *ngIf="urlSelectedFlag else flag">
              <img class="img-flag-recoment" [src]="urlSelectedFlag" alt="">
            </span>
            <ng-template #flag>
              <span class="pi pi-flag-fill"></span>
            </ng-template>
          </span>
          <input type="text"
                 pInputText
                 formControlName="NombrePais"
                 maxlength="40"
                 (input)="teclaPresionada()"
                 class="p-fluid p-grid p-formgrid input-form">
        </div>
        <small *ngIf="NombrePais.hasError('pattern') && !NombrePais.hasError('required')"
              class="p-error">Digite un país <strong>válido</strong></small>
        <small *ngIf="NombrePais.hasError('required') && NombrePais.dirty"
              class="p-error">El campo país es <strong>requerido</strong></small>
      </div>
      <div class="col">
        <div class="content-recomment">
          <p *ngIf="hayError" class="p-error mb-2 animate__animated animate__fadeInDown">No se encontraron coincidencias</p>
          <p *ngIf="paisesSugeridos.length!=0" class="mb-2 title-select-p"><i class="pi pi-list"></i> Selecione el país</p>
          <div *ngFor="let pais of paisesSugeridos">
            <div class="flex recoment-box" (click)="SelectedPais(pais)">
              <img class="img-flag-recoment" [src]="pais.flags.svg" alt=""><p class="ml-2">{{pais.name.common}}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col above-col">
        <label for="Nombres" class="block mb-2">Idioma</label>
        <div class="p-inputgroup">
          <span class="p-inputgroup-addon"><i class="fa-solid fa-book"></i></span>
          <input id="Nombres"
                class="p-fluid p-grid p-formgrid input-form"
                type="text"
                autocomplete="off"
                maxlength="40"
                formControlName="NombreCurso"
                pInputText/>
        </div>
        <small *ngIf="NombreCurso.hasError('pattern') && !NombreCurso.hasError('required')"
              class="p-error">Digite un nombre del curso <strong>válido</strong></small>
        <small *ngIf="NombreCurso.hasError('required') && NombreCurso.dirty"
              class="p-error">El campo nombre del curso es <strong>requerido</strong></small>
      </div>
      <div class="grid content">
        <div class="col-12 md:col-6">
          <label for="niveles" class="block mb-2">Nivel</label>
          <p-dropdown class="p-fluid p-grid p-formgrid"
                      [options]="niveles"
                      formControlName="nivel"
                      optionLabel="Nivel"></p-dropdown>
          <small *ngIf="nivel.hasError('required') && nivel.dirty"
                 class="p-error">El nivel del curso es <strong>requerido</strong></small>
        </div>
        <div class="col-12 md:col-6">
          <label for="usuario" class="block mb-2">Módulos del curso</label>
          <p-dropdown class="p-fluid p-grid p-formgrid"
                      [options]="modulo"
                      placeholder="Módulos del curso"
                      optionValue="cantidad"
                      formControlName="NumModulos"
                      optionLabel="name"></p-dropdown>
          <small *ngIf="NumModulos.hasError('required') && NumModulos.dirty"
                 class="p-error">El campo módulos del curso es <strong>requerido</strong></small>
        </div>
      </div>
    </div>
    <div class="col-12 md:col-6">
      <div class="col">
        <label for="Nombres" class="block mb-2">Descripción del curso</label>
        <textarea rows="10"
                  cols="30"
                  pInputTextarea
                  formControlName="DescripcionCurso"
                  maxlength="350"
                  class="p-fluid p-grid p-formgrid"></textarea>
        <small *ngIf="DescripcionCurso.hasError('required') && DescripcionCurso.dirty"
              class="p-error">El campo descripción  del curso es <strong>requerido</strong></small>
      </div>
    </div>
  </div>
  <div class="flex justify-content-end">
    <button mat-raised-button
            color="primary"
            class="p-button-c"
            (click)="ready()"
            [disabled]="loading">
            <i [class]="loading?'pi pi-spin pi-spinner':'pi pi-save'"></i> {{isUpdate?'Guardar':'Registrar'}}
    </button>
    <button mat-raised-button
            color="primary"
            class="p-button-c ml-2"
            (click)="returnLista()"> Cancelar
    </button>
  </div>
</form>
