<div *ngIf="loadingGetUpdate else form">
  <app-skeleton-form></app-skeleton-form>
</div>
<ng-template #form>
  <form [formGroup]="FormUsuario">
    <div class="mb-1">
      <div *ngIf="isUpdate else notUpdate">
        <h2 class="ml-1"><i class="fa-solid fa-user-pen"></i> Editar usuario</h2>
      </div>
      <ng-template #notUpdate>
        <h2 class="ml-1"><i class="fa-solid fa-user-plus"></i> Registro usuario</h2>
      </ng-template>
    </div>
    <p-messages key="message-error-code"></p-messages>
    <div class="grid content">
      <div class="col-12 md:col-6">
        <div class="col">
          <label for="DNI" class="block mb-2">DNI</label>
          <span class="p-input-icon-left full-width">
            <i class="fa-regular fa-address-card"></i>
            <input id="DNI"
                  class="p-fluid p-grid p-formgrid input-form"
                  type="text"
                  autocomplete="off"
                  maxlength="8"
                  (ngModelChange)="Reniec($event)"
                  formControlName="DNI"
                   pInputText/>
          </span>
          <small *ngIf="DNI.hasError('pattern') && !DNI.hasError('required')"
                  class="p-error">Digite un DNI <strong>válido</strong></small>
          <small *ngIf="DNI.hasError('required') && DNI.dirty"
                  class="p-error">El campo DNI es <strong>requerido</strong></small>
        </div>
        <div class="col">
          <label for="Nombres" class="block mb-2">Nombres</label>
            <span class="p-input-icon-left full-width">
              <i class="fa-solid fa-user"></i>
              <input id="Nombres"
                    class="p-fluid p-grid p-formgrid input-form"
                    type="text"
                    autocomplete="off"
                    formControlName="Nombres"
                    maxlength="45"
                     pInputText/>
            </span>
          <small *ngIf="Nombres.hasError('pattern') && !Nombres.hasError('required')"
                class="p-error">Digite un Nombre <strong>válido</strong></small>
          <small *ngIf="Nombres.hasError('required') && Nombres.dirty"
                class="p-error">El campo Nombre es <strong>requerido</strong></small>
        </div>
        <div class="grid content">
          <div class="col-12 md:col-6">
            <label for="ApellidoPaterno" class="block mb-2">Apellido paterno</label>
            <input id="ApellidoPaterno"
                  class="p-fluid p-grid p-formgrid input-form"
                  type="text"
                  autocomplete="off"
                  formControlName="ApellidoPaterno"
                  maxlength="45"
                  pInputText/>
            <small *ngIf="ApellidoPaterno.hasError('pattern') && !ApellidoPaterno.hasError('required')"
                  class="p-error">Digite un Apellido paterno <strong>válido</strong></small>
            <small *ngIf="ApellidoPaterno.hasError('required') && ApellidoPaterno.dirty"
                  class="p-error">El campo Apellido paterno es <strong>requerido</strong></small>
          </div>
          <div class="col-12 md:col-6">
            <label for="ApellidoMaterno" class="block mb-2">Apellido materno</label>
            <input id="ApellidoMaterno"
                  class="p-fluid p-grid p-formgrid input-form"
                  type="text"
                  autocomplete="off"
                  formControlName="ApellidoMaterno"
                  maxlength="45"
                  pInputText/>
            <small *ngIf="ApellidoMaterno.hasError('pattern') && !ApellidoMaterno.hasError('required')"
                  class="p-error">Digite un Apellido materno <strong>válido</strong></small>
            <small *ngIf="ApellidoMaterno.hasError('required') && ApellidoMaterno.dirty"
                  class="p-error">El campo Apellido materno es <strong>requerido</strong></small>
          </div>
        </div>
        <div class="col">
          <label for="rol" class="block mb-2">Rol del usuario</label>
          <p-dropdown class="p-fluid p-grid p-formgrid"
                      [options]="roles"
                      formControlName="rol"
                      placeholder="Seleccione una opción"
                      (ngModelChange)="selectRole($event)"
                      optionLabel="TipoRol">
            <ng-template pTemplate="selectedItem">
              <div class="rol-item rol-item-value" *ngIf="selecRol">
                <span>{{selecRol.TipoRol}}</span>
              </div>
            </ng-template>
            <ng-template let-rol pTemplate="item">
              <span>{{rol.TipoRol}}</span>
            </ng-template>
          </p-dropdown>
          <small *ngIf="rol.hasError('required') && rol.dirty"
                  class="p-error">El rol del usuario es <strong>requerido</strong></small>
        </div>
      </div>
      <div class="col-12 md:col-6">
        <div class="col mtop-inputs">
          <label for="Direccion" class="block mb-2">Dirección</label>
          <span class="p-input-icon-left full-width">
            <i class="fa-solid fa-location-dot"></i>
            <input id="Direccion"
                  class="p-fluid p-grid p-formgrid input-form"
                  type="text"
                  autocomplete="off"
                  maxlength="100"
                  formControlName="Direccion"
                  pInputText/>
          </span>
          <small *ngIf="Direccion.hasError('pattern') && !Direccion.hasError('required')"
                class="p-error">Digite un Dirección <strong>válido</strong></small>
          <small *ngIf="Direccion.hasError('required') && Direccion.dirty"
                class="p-error">El campo Dirección es <strong>requerido</strong></small>
        </div>
        <div class="col-12">
          <label for="Email" class="block mb-2">Email</label>
          <span class="p-input-icon-left full-width">
            <i class="fa-solid fa-envelope"></i>
            <input id="Email"
                  class="p-fluid p-grid p-formgrid"
                  type="email"
                  autocomplete="off"
                  formControlName="Email"
                  maxlength="50"
                   pInputText/>
          </span>
          <small *ngIf="Email.hasError('pattern') && !Email.hasError('required')"
                class="p-error">Digite un Email <strong>válido</strong></small>
          <small *ngIf="Email.hasError('required') && Email.dirty"
                class="p-error">El campo Email es <strong>requerido</strong></small>
        </div>
        <div class="grid content">
          <div class="col-4 md:col-3">
            <app-input-code [country]="country" (selectedCountry)="selectedCountry($event)"></app-input-code>
          </div>
          <div class="col-8 md:col-9">
            <label for="Celular" class="block mb-2">Celular</label>
            <span class="p-input-icon-left full-width">
              <i class="fa-solid fa-phone"></i>
              <input id="Celular"
                     class="p-fluid p-grid p-formgrid input-form"
                     type="text"
                     autocomplete="off"
                     [maxlength]="country.code=='PE'?9:15"
                     formControlName="Celular"
                     pInputText/>
            </span>
            <small *ngIf="Celular.hasError('pattern') && !Celular.hasError('required')"
                  class="p-error">Digite un Celular <strong>válido</strong></small>
            <small *ngIf="Celular.hasError('required') && Celular.dirty"
                  class="p-error">El campo Celular es <strong>requerido</strong></small>
          </div>
        </div>
      </div>
    </div>
    <div class="flex justify-content-end mt-2">
      <button mat-raised-button
                  color="primary"
                  class="button-custom"
                  (click)="ready()"
                  [disabled]="loading">
                  <i [class]="loading?'pi pi-spin pi-spinner':'pi pi-save'"></i> {{isUpdate?'Guardar':'Registrar'}}
      </button>
      <button mat-raised-button
                  color="primary"
                  class="button-custom ml-2"
                  (click)="returnList()"> Cancelar
      </button>
    </div>
  </form>
</ng-template>

