.custom-shape-divider-top-1683552126 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1683552126 svg {
  position: relative;
  display: block;
  width: calc(216% + 1.3px);
  height: 329px;
}

.custom-shape-divider-top-1683552126 .shape-fill {
  fill: #F9A826;
}
