.content-radio{
  cursor: pointer;
}
.select-radio{
  display: none;
}
.chip input[type=radio]{
  display: none;
}
.chip input[type=radio]:checked + span{
  display: block;
  color: #F9A826;
}
