<div class="container-change-password">
  <div class="content-form-change">
    <p-card>
      <div class="p-2" *ngIf="!changedPassword, else noChangePass">
        <div>
          <h2 class="mb-2"><i class="pi pi-lock" style="font-size: 1.5rem"></i> Crear nueva contraseña</h2>
          <p class="mb-2">Su nueva contraseña tiene que ser diferente a los que fueron usados.</p>
          <app-form-change-password [loadingPassword]="loadingPassword" (formData)="changePassword($event)"></app-form-change-password>
        </div>
      </div>
      <ng-template #noChangePass>
        <div>
          <h2 class="mb-2"><i class="pi pi-check-circle" style="font-size: 1.5rem"></i> Contraseña restablecida</h2>
          <p class="mb2">su contraseña a sido restablecida correctamente. <a class="forgot-password" routerLink="/auth/login">Iniciar sesión</a></p>
        </div>
      </ng-template>

    </p-card>
  </div>
</div>
