.container-change-password{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content-form-change{
  width: 400px;
}

@media only screen and (max-width: 767px) {
  /* Estilos para escritorio grande aquí */
  .content-form-change{
    width: 90%;
  }
}
