<form [formGroup]="formEstudiante">
  <div class="grid content">
    <div class="col-12 md:col-6">
      <div class="col-12">
        <label for="DNI" class="block mb-2">DNI</label>
        <div class="p-inputgroup">
        <span class="p-inputgroup-addon"><i [class]="loadGetData?'pi pi-spin pi-spinner':'pi pi-id-card'"></i></span>
        <input id="DNI"
              class="p-fluid p-grid p-formgrid input-form"
              type="text"
              autocomplete="off"
              [maxlength]="8"
              (ngModelChange)="Reniec($event)"
              formControlName="DNI"
              pInputText/>
        </div>
        <small *ngIf="DNI.hasError('pattern') && !DNI.hasError('required')"
                class="p-error">Digite un DNI <strong>válido</strong></small>
        <small *ngIf="DNI.hasError('required') && DNI.dirty"
                class="p-error">El campo DNI del estudiante es <strong>requerido</strong></small>
      </div>
      <div class="col-12">
          <label for="Nombres" class="block mb-2">Nombres</label>
          <input id="Nombres"
                class="p-fluid p-grid p-formgrid input-form"
                type="text"
                autocomplete="off"
                [maxlength]="50"
                (ngModelChange)="Reniec($event)"
                formControlName="Nombres"
                pInputText/>
          <small *ngIf="Nombres.hasError('pattern') && !Nombres.hasError('required')"
                  class="p-error">Digite nombres <strong>válidos</strong></small>
          <small *ngIf="Nombres.hasError('required') && Nombres.dirty"
                  class="p-error">El campo nombres del estudiante es <strong>requerido</strong></small>
      </div>
      <div class="col-12">
          <label for="ApellidoPaterno" class="block mb-2">Apellido paterno</label>
          <input id="ApellidoPaterno"
                class="p-fluid p-grid p-formgrid input-form"
                type="text"
                autocomplete="off"
                formControlName="ApellidoPaterno"
                pInputText/>
          <small *ngIf="ApellidoPaterno.hasError('pattern') && !ApellidoPaterno.hasError('required')"
                  class="p-error">Digite un apellido paterno <strong>válido</strong></small>
          <small *ngIf="ApellidoPaterno.hasError('required') && ApellidoPaterno.dirty"
                  class="p-error">El campo apellido paterno del estudiante es <strong>requerido</strong></small>
      </div>
      <div class="col-12">
          <label for="ApellidoMaterno" class="block mb-2">Apellido materno</label>
          <input id="ApellidoMaterno"
                class="p-fluid p-grid p-formgrid input-form"
                type="text"
                autocomplete="off"
                formControlName="ApellidoMaterno"
                pInputText/>
          <small *ngIf="ApellidoMaterno.hasError('pattern') && !ApellidoMaterno.hasError('required')"
                  class="p-error">Digite un apellido materno <strong>válido</strong></small>
          <small *ngIf="ApellidoMaterno.hasError('required') && ApellidoMaterno.dirty"
                  class="p-error">El campo apellido materno del estudiante es <strong>requerido</strong></small>
      </div>
      <div class="col-12">
        <label for="FechaNacimiento" class="block mb-2">Fecha de nacimiento</label>
        <div class="p-inputgroup">
          <span class="p-inputgroup-addon"><i class="pi pi-calendar"></i></span>
          <p-calendar inputId="FechaNacimiento"
                      class="p-fluid p-grid p-formgrid"
                      formControlName="FechaNacimiento"></p-calendar>
        </div>
        <small *ngIf="FechaNacimiento.hasError('required') && FechaNacimiento.dirty"
                class="p-error">La fecha de nacimiento del estudiante <strong>requerido</strong></small>
      </div>
      <div class="col-12">
        <label for="Sexo" class="block mb-2">Sexo</label>
        <p-dropdown class="p-fluid p-grid p-formgrid"
                    placeholder="Sexo del estudiante"
                    [options]="optionSexo"
                    formControlName="Sexo"
                    optionValue="code"
                    optionLabel="name">
        </p-dropdown>
        <small *ngIf="Sexo.hasError('required') && Sexo.dirty"
              class="p-error">El sexo del estudiante del estudiante <strong>requerido</strong></small>
      </div>
    </div>
    <div class="col-12 md:col-6">
      <div class="col-12">
        <label for="Direccion" class="block mb-2">Dirección actual</label>
        <div class="p-inputgroup">
          <span class="p-inputgroup-addon"><i class="fa-solid fa-location-dot"></i></span>
          <input id="Direccion"
                class="p-fluid p-grid p-formgrid input-form"
                type="text"
                autocomplete="off"
                [maxlength]="50"
                formControlName="Direccion"
                pInputText/>
        </div>
        <small *ngIf="Direccion.hasError('required') && Direccion.dirty"
                class="p-error">El campo dirección del estudiante es <strong>requerido</strong></small>
      </div>
      <div class="col-12">
        <label for="Celular" class="block mb-2">Celular</label>
        <div class="p-inputgroup">
          <span class="p-inputgroup-addon"><i class="fa-solid fa-phone"></i></span>
          <input id="Celular"
                class="p-fluid p-grid p-formgrid input-form"
                type="text"
                [pTooltip]="msgTooltipCel" tooltipPosition="bottom"
                autocomplete="off"
                [maxlength]="9"
                formControlName="Celular"
                pInputText/>
        </div>
        <small *ngIf="Celular.hasError('pattern') && !Celular.hasError('required')"
            class="p-error">Digite un número de celular <strong>válido</strong></small>
        <small *ngIf="Celular.hasError('required') && Celular.dirty"
                class="p-error">El celular es un campo <strong>requerido</strong></small>
      </div>
      <div class="col-12">
        <label for="Email" class="block mb-2">Email</label>
        <div class="p-inputgroup">
          <span class="p-inputgroup-addon"><i class="fa-regular fa-envelope"></i></span>
          <input id="Email"
                class="p-fluid p-grid p-formgrid"
                type="text"
                autocomplete="off"
                [pTooltip]="msgTooltipEmail" tooltipPosition="bottom"
                formControlName="Email"
                pInputText/>
        </div>
        <small *ngIf="Email.hasError('pattern') && !Email.hasError('required')"
            class="p-error">Digite un email <strong>válido</strong></small>
        <small *ngIf="Email.hasError('required') && Email.dirty"
                class="p-error">El campo email es <strong>requerido</strong></small>
      </div>
      <div class="col-12">
        <label for="IdDepartamento" class="block mb-2">Departamento</label>
        <p-dropdown class="p-fluid p-grid p-formgrid"
                    formControlName="IdDepartamento"
                    [options]="listDepartamentos"
                    (ngModelChange)="selectedDepartamento($event)"
                    placeholder="Departamento"
                    optionValue="IdDepartamento"
                    optionLabel="NombreDepartamento"></p-dropdown>
        <small *ngIf="IdDepartamento.hasError('required') && IdDepartamento.dirty"
                class="p-error">El departamento es <strong>requerido</strong></small>
      </div>
      <div class="col-12">
        <label for="IdProvincia" class="block mb-2">Provincia</label>
        <p-dropdown class="p-fluid p-grid p-formgrid"
                    formControlName="IdProvincia"
                    [options]="listProvincias"
                    placeholder="Provincia"
                    (ngModelChange)="selectedProvincia($event)"
                    optionValue="IdProvincia"
                    optionLabel="NombreProvincia"></p-dropdown>
        <small *ngIf="IdProvincia.hasError('required') && IdProvincia.dirty"
                class="p-error">La pronvincia es <strong>requerida</strong></small>
      </div>
      <div class="col-12">
        <label for="IdDistrito" class="block mb-2">Distrito</label>
        <p-dropdown class="p-fluid p-grid p-formgrid"
                    formControlName="IdDistrito"
                    [options]="listDistritos"
                    placeholder="Distrito"
                    optionValue="IdDistrito"
                    optionLabel="NombreDistrito"></p-dropdown>
        <small *ngIf="IdDistrito.hasError('required') && IdDistrito.dirty"
                class="p-error">El distrito es <strong>requerido</strong></small>
      </div>
    </div>
    <div class="mt-3">
      <p-button label="Registrar" class="ml-2" (click)="ready()"></p-button>
    </div>
  </div>
</form>
