<div class="main p-4">
  <p-card>
    <div class="mb-2">
      <h2 class="ml-1">Lista de inscritos</h2>
    </div>
    <div class="grid justify-content-center justify-content-between">
      <div class="col-12 md:col-6">
        <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input type="text"
                 pInputText
                 class="full-width"
                 placeholder="Buscar inscritos" />
        </span>
      </div>
      <div class="col-12 md:col-6 flex justify-content-end">
        <div>
          <button pButton
                  pRipple
                  type="button"
                  icon="fa-solid fa-user-plus"
                  label="Matricula"
                  routerLink="/system/matricula/nueva-matricula"
                  class="p-button-rounded mr-2"></button>
        </div>
      </div>
    </div>
    <div class="grid content">
      <div class="col table-responsive">
        <p-table [value]="_matricula.listMatriculados" responsiveLayout="scroll" [rowHover]="true">
          <ng-template pTemplate="header">
              <tr>
                <th>ID</th>
                <th>Nombres</th>
                <th>Celular</th>
                <th>Curso inscrito</th>
                <th>Tipo población</th>
                <th>Fecha. Inscripción</th>
                <th>Grupos</th>
                <th>Asignar</th>
                <th>Mas</th>
              </tr>
          </ng-template>
          <ng-template pTemplate="body" let-matriculado let-rowIndex="rowIndex">
            <tr>
              <td>{{startPage  + (rowIndex+1)}}</td>
              <td>{{matriculado.estudiante.Nombres | titlecase}} {{matriculado.estudiante.ApellidoPaterno | titlecase}}
              </td>
              <td><p-tag severity="success">{{matriculado.estudiante.CodePhone}} {{matriculado.estudiante.Celular}}</p-tag>
                  <div *ngIf="matriculado.estudiante.apoderado" class="mt-1">
                    <p-tag severity="danger">+51 {{matriculado.estudiante.apoderado.CelApoderado}}</p-tag>
                  </div>
              </td>
              <td>{{matriculado.curso.NombreCurso | titlecase}} - {{matriculado.curso.NivelCurso | titlecase}}</td>
              <td>
                  {{matriculado.denomiServicio.Descripcion | slice:0:35}}...
                  <p-tag label="Info" severity="info" class="td-poblacion" (click)="moreService(matriculado.denomiServicio)">Mas</p-tag>
              </td>
              <td> <p-tag>{{matriculado.createdAt | date:'short'}}</p-tag> </td>
              <td class="flex justify-content-center">
                <mat-form-field appearance="outline">
                  <mat-select disableRipple
                              (selectionChange)="selectedGrupo($event)"
                              placeholder="Selecione un grupo">
                    <mat-option>Ninguno</mat-option>
                    <mat-option *ngFor="let grupo of _grupo.listGrupos" [value]="grupo.Id">
                      {{grupo.curso.NombreCurso | titlecase }} - {{grupo.curso.NivelCurso}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </td>
              <td>
                <button mat-raised-button
                        color="primary"
                        class="p-button-c"
                        (click)="save(matriculado)"
                        [disabled]="loadingSave">Asignar
                </button>
              </td>
              <td>
                <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                  <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                  <button mat-menu-item (click)="moreInfoEstudiante(matriculado)">
                    <mat-icon><i class="fa-solid fa-circle-info"></i></mat-icon>
                    <span>ver más</span>
                  </button>
                  <button mat-menu-item>
                    <mat-icon><i class="fa-solid fa-pen-to-square"></i></mat-icon>
                    <span>Editar grupo</span>
                  </button>
                  <button mat-menu-item (click)="dialogDelete(matriculado)">
                    <mat-icon><i class="fa-solid fa-trash-can"></i></mat-icon>
                    <span>Eliminar</span>
                  </button>
                </mat-menu>
              </td>
            </tr>
          </ng-template>
        </p-table>
        <div>
          <div class="mt-4" *ngIf="_matricula.respMatricula && _matricula.respMatricula.count">
            <div class="grid content">
              <div class="col-12 md:col-3">
                  <p class="text-muted">Total de inscritos: {{_matricula.respMatricula.count}}</p>
              </div>
              <div class="col-12 md:col-6">
                <p-paginator [rows]="5"
                             [totalRecords]="_matricula.respMatricula.count!"
                             [rowsPerPageOptions]="[5,10,15,20]"
                             (onPageChange)="paginate($event)"></p-paginator>
              </div>
              <div class="col-12 md:col-3"></div>
            </div>
          </div>
          <app-loadding *ngIf="_matricula.loadingLista && _matricula.listMatriculados.length==0" msg="Lista de cursos"></app-loadding>
          <app-lista-vacia *ngIf="_matricula.listMatriculados.length==0 && !_matricula.loadingLista" msg="No se encontraron cursos registrados"></app-lista-vacia>
        </div>
      </div>
    </div>
  </p-card>
</div>


<!-- Delete message dialog -->
<p-confirmDialog [style]="{width: '50vw'}"
                 key="deleteMatriculadoDialog"
                 [position]="position"
                 [baseZIndex]="10000"
                 acceptLabel="Confirmar"
                 [breakpoints]="{'960px': '75vw', '640px': '100vw'}"
                 rejectButtonStyleClass="p-button-outlined"></p-confirmDialog>

<!-- Tipo población dialog -->
<p-dialog header="Tipo de población inscrito"
          [(visible)]="moreInfo"
          [modal]="true"
          position="bottom-left"
          [breakpoints]="{ '960px': '75vw' }"
          [style]="{ width: '50vw' }" [draggable]="true" [resizable]="false"><p>{{description}}</p>
</p-dialog>

<!-- Información general dialog -->
<p-dialog header="Información general"
          [(visible)]="moreInfoMatricula"
          [modal]="true"
          position="bottom-left"
          [breakpoints]="{ '960px': '75vw' }"
          [style]="{ width: '50vw' }" [draggable]="true" [resizable]="false">
          <div *ngIf="infoMatricula">
            <div>
              <div class="grid content c1">
                <div class="col-12 md:col-6">
                  <h3>Estudiante</h3>
                  <p class="m-2"><i class="fa-regular fa-id-card"></i> {{infoMatricula.estudiante.TipoDocumento}} {{infoMatricula.estudiante.Documento}}</p>
                  <p class="m-2"><i class="fa-regular fa-user"></i> {{infoMatricula.estudiante.Nombres | titlecase}}
                    {{infoMatricula.estudiante.ApellidoPaterno | titlecase}}
                    {{infoMatricula.estudiante.ApellidoMaterno | titlecase}}</p>
                  <p class="m-2"><i class="fa-regular fa-envelope"></i> {{infoMatricula.estudiante.Email}}</p>
                </div>
                <div class="col-12 md:col-6" *ngIf="infoMatricula.estudiante.apoderado">
                  <h3>Apoderado</h3>
                  <p class="m-2"><i class="fa-regular fa-id-card"></i> {{infoMatricula.estudiante.apoderado.DNIApoderado}}</p>
                  <p class="m-2"><i class="fa-regular fa-user"></i> {{infoMatricula.estudiante.apoderado.NomApoderado | titlecase}}
                    {{infoMatricula.estudiante.apoderado.ApellidoPApoderado | titlecase}}
                    {{infoMatricula.estudiante.apoderado.ApellidoMApoderado | titlecase}}</p>
                  <p class="m-2"><i class="fa-sharp fa-solid fa-phone"></i> {{infoMatricula.estudiante.apoderado.CelApoderado}}</p>
                </div>
              </div>
            </div>
            <div class="grid content c2">
              <div class="col-12 md:col-6">
                <div>
                  <h3>Curso inscrito</h3>
                  <div class="grid content">
                    <div class="col-12 md:col-4">
                      <img class="flag" [src]="infoMatricula.curso.UrlBandera" alt="">
                    </div>
                    <div class="col-12 md:col-4 mt-2"> {{infoMatricula.curso.NombreCurso | titlecase}}</div>
                    <div class="col-12 md:col-4 mt-2"> {{infoMatricula.curso.NivelCurso }}</div>
                  </div>
                </div>
              </div>
              <div class="col-12 md:col-6">
                <div>
                  <h3>Institución</h3>
                  <div class="grid content">
                    <div class="col-12 md:col-6 mt-2"> {{infoMatricula.institucion.NombreInstitucion}}</div>
                    <div class="col-12 md:col-6 mt-2"> {{infoMatricula.institucion.EscuelaProfe}}</div>
                  </div>
                </div>
              </div>
            </div>
            <h3 class="mt-2">Tipo de población</h3>
            <div class="grid content c3">
              <div class="col-12 md:col-8">
                <p>{{infoMatricula.denomiServicio.Descripcion}}</p>
              </div>
              <div class="col-12 md:col-2">Matricula: <br> s/. {{infoMatricula.denomiServicio.MontoMatricula}}</div>
              <div class="col-12 md:col-2">Mensualidad: <br> s/. {{infoMatricula.denomiServicio.MontoPension}}</div>
            </div>
          </div>
</p-dialog>

<!-- <td>
  <mat-form-field appearance="legacy">
    <mat-select disableRipple
                (selectionChange)="selectedGrupo($event, matriculado)"
                placeholder="Selecione un grupo">
      <mat-option>Ninguno</mat-option>
      <mat-option *ngFor="let grupo of _grupo.listGrupos" [value]="grupo.Id">
        <b>G-{{grupo.Id}}</b> {{grupo.curso.NombreCurso | titlecase }} - {{grupo.curso.NivelCurso}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</td> -->
