.content-divider{
  padding: 0 !important;
}
.p-divider-horizontal{
  padding: 0 !important;
}
.flag-code-country{
  width: 25px;
  height: 15px;
}
.content-select-grupo{
  min-height: 250px;
  height: auto;
}
