<mat-stepper linear="true" #stepper>
  <mat-step [stepControl]="formEstudiante">
    <form [formGroup]="formEstudiante">
      <ng-template matStepLabel>Información personal</ng-template>
        <div class="grid content">
          <div class="col-12 md:col-6">
            <div class="grid content">
              <div class="col-12 md:col-6">
                <label for="usuario" class="block mb-2">Tipo documento</label>
                <p-dropdown class="p-fluid p-grid p-formgrid"
                            [options]="card"
                            formControlName="TipoDocumento"
                            (ngModelChange)="changeCard($event)"
                            optionValue="code"
                            optionLabel="name">
                        </p-dropdown>
                <small *ngIf="TipoDocumento.hasError('required') && TipoDocumento.dirty"
                      class="p-error">El tipo de documento es <strong>requerido</strong></small>
              </div>
              <div class="col-12 md:col-6">
                <label for="Documento" class="block mb-2">{{TipoDocumento.value}}</label>
                  <div class="p-inputgroup">
                  <span class="p-inputgroup-addon"><i [class]="loadGetData?'pi pi-spin pi-spinner':'pi pi-id-card'"></i></span>
                  <input id="Documento"
                        class="p-fluid p-grid p-formgrid input-form"
                        type="text"
                        autocomplete="off"
                        [maxlength]="(TipoDocumento.value=='DNI'?8:11)"
                        (ngModelChange)="Reniec($event)"
                        formControlName="Documento"
                        pInputText/>
                  </div>
                  <small *ngIf="Documento.hasError('pattern') && !Documento.hasError('required')"
                          class="p-error">Digite un Documento <strong>válido</strong></small>
                  <small *ngIf="Documento.hasError('required') && Documento.dirty"
                          class="p-error">El campo Documento es <strong>requerido</strong></small>
              </div>
            </div>
            <div class="col-12">
                <label for="Nombres" class="block mb-2">Nombres</label>
                <input id="Nombres"
                      class="p-fluid p-grid p-formgrid input-form"
                      type="text"
                      autocomplete="off"
                      [maxlength]="50"
                      formControlName="Nombres"
                      pInputText/>
                <small *ngIf="Nombres.hasError('pattern') && !Nombres.hasError('required')"
                        class="p-error">Digite nombres <strong>válidos</strong></small>
                <small *ngIf="Nombres.hasError('required') && Nombres.dirty"
                        class="p-error">El campo nombres del estudiante es <strong>requerido</strong></small>
            </div>
            <div class="col-12">
                <label for="ApellidoPaterno" class="block mb-2">Apellido paterno</label>
                <input id="ApellidoPaterno"
                      class="p-fluid p-grid p-formgrid input-form"
                      type="text"
                      autocomplete="off"
                      formControlName="ApellidoPaterno"
                      dateFormat="dd-mm-yy"
                      pInputText/>
                <small *ngIf="ApellidoPaterno.hasError('pattern') && !ApellidoPaterno.hasError('required')"
                        class="p-error">Digite un apellido paterno <strong>válido</strong></small>
                <small *ngIf="ApellidoPaterno.hasError('required') && ApellidoPaterno.dirty"
                        class="p-error">El campo apellido paterno del estudiante es <strong>requerido</strong></small>
            </div>
            <div class="col-12">
                <label for="ApellidoMaterno" class="block mb-2">Apellido materno</label>
                <input id="ApellidoMaterno"
                      class="p-fluid p-grid p-formgrid input-form"
                      type="text"
                      autocomplete="off"
                      formControlName="ApellidoMaterno"
                      pInputText/>
                <small *ngIf="ApellidoMaterno.hasError('pattern') && !ApellidoMaterno.hasError('required')"
                        class="p-error">Digite un apellido materno <strong>válido</strong></small>
                <small *ngIf="ApellidoMaterno.hasError('required') && ApellidoMaterno.dirty"
                        class="p-error">El campo apellido materno del estudiante es <strong>requerido</strong></small>
            </div>
            <div class="col-12">
              <label for="Sexo" class="block mb-2">Sexo</label>
              <p-dropdown class="p-fluid p-grid p-formgrid"
                          placeholder="Sexo del estudiante"
                          [options]="optionSexo"
                          formControlName="Sexo"
                          optionValue="code"
                          optionLabel="name">
              </p-dropdown>
              <small *ngIf="Sexo.hasError('required') && Sexo.dirty"
                    class="p-error">El sexo del estudiante del estudiante <strong>requerido</strong></small>
            </div>
            <div class="col-12">
              <label for="FechaNacimiento" class="block mb-2">Fecha de nacimiento</label>
              <div class="p-inputgroup">
                <span class="p-inputgroup-addon"><i class="pi pi-calendar"></i></span>
                <p-calendar inputId="FechaNacimiento"
                            placeholder="DD-MM-AAAA"
                            dateFormat="dd-mm-yy"
                            (ngModelChange)="validEdad($event)"
                            class="p-fluid p-grid p-formgrid"
                            formControlName="FechaNacimiento"></p-calendar>
              </div>
              <small *ngIf="FechaNacimiento.hasError('required') && FechaNacimiento.dirty"
                      class="p-error">La fecha de nacimiento del estudiante <strong>requerido</strong></small>
            </div>
          </div>
          <div class="col-12 md:col-6">
            <div class="col-12">
              <label for="Direccion" class="block mb-2">Dirección actual</label>
              <div class="p-inputgroup">
                <span class="p-inputgroup-addon"><i class="fa-solid fa-location-dot"></i></span>
                <input id="Direccion"
                      class="p-fluid p-grid p-formgrid input-form"
                      type="text"
                      autocomplete="off"
                      [maxlength]="50"
                      formControlName="Direccion"
                      pInputText/>
              </div>
              <small *ngIf="Direccion.hasError('required') && Direccion.dirty"
                      class="p-error">El campo dirección del estudiante es <strong>requerido</strong></small>
            </div>
            <div class="grid content">
              <div class="col-5 md:col-3">
                <app-input-code [country]="country"
                                (selectedCountry)="selectedCountry($event)">
                </app-input-code>
              </div>
              <div class="col-7 md:col-9">
                <label for="Celular" class="block mb-2">Celular</label>
                <input id="Celular"
                      class="p-fluid p-grid p-formgrid input-form"
                      type="text"
                      autocomplete="off"
                      formControlName="Celular"
                      [maxLength]="15"
                      pInputText/>
                <small *ngIf="Celular.hasError('pattern') && !Celular.hasError('required')"
                      class="p-error">Digite un Celular <strong>válido</strong></small>
                <small *ngIf="Celular.hasError('required') && Celular.dirty"
                      class="p-error">El campo Celular es <strong>requerido</strong></small>
              </div>
            </div>
            <div class="col-12">
              <label for="Email" class="block mb-2">Email</label>
              <div class="p-inputgroup">
                <span class="p-inputgroup-addon"><i class="fa-regular fa-envelope"></i></span>
                <input id="Email"
                      class="p-fluid p-grid p-formgrid"
                      type="text"
                      autocomplete="off"
                      [pTooltip]="msgTooltipEmail" tooltipPosition="bottom"
                      formControlName="Email"
                      pInputText/>
              </div>
              <small *ngIf="Email.hasError('pattern') && !Email.hasError('required')"
                  class="p-error">Digite un email <strong>válido</strong></small>
              <small *ngIf="Email.hasError('required') && Email.dirty"
                      class="p-error">El campo email es <strong>requerido</strong></small>
            </div>
            <div class="col-12">
              <label for="IdDepartamento" class="block mb-2">Departamento</label>
              <p-dropdown class="p-fluid p-grid p-formgrid"
                          formControlName="Departamento"
                          [options]="listDepartamentos"
                          (ngModelChange)="selectedDepartamento($event)"
                          placeholder="Departamento"
                          optionLabel="NombreDepartamento"></p-dropdown>
              <small *ngIf="Departamento.hasError('required') && Departamento.dirty"
                      class="p-error">El departamento es <strong>requerido</strong></small>
            </div>
            <div class="col-12">
              <label for="IdProvincia" class="block mb-2">Provincia</label>
              <p-dropdown class="p-fluid p-grid p-formgrid"
                          formControlName="Provincia"
                          [options]="listProvincias"
                          placeholder="Provincia"
                          (ngModelChange)="selectedProvincia($event)"
                          optionLabel="NombreProvincia"></p-dropdown>
              <small *ngIf="Provincia.hasError('required') && Provincia.dirty"
                      class="p-error">La pronvincia es <strong>requerida</strong></small>
            </div>
            <div class="col-12">
              <label for="IdDistrito" class="block mb-2">Distrito</label>
              <p-dropdown class="p-fluid p-grid p-formgrid"
                          formControlName="Distrito"
                          [options]="listDistritos"
                          placeholder="Distrito"
                          optionLabel="NombreDistrito"></p-dropdown>
              <small *ngIf="Distrito.hasError('required') && Distrito.dirty"
                      class="p-error">El distrito es <strong>requerido</strong></small>
            </div>
            </div>
        </div>
        <div>
          <br>
          <div align="end" class="mt-2 mr-3 mb-4">
            <button mat-raised-button matStepperNext (click)="validFormEstudent()">Siguiente</button>
          </div>
        </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="formMayorEdad">
    <form [formGroup]="formMayorEdad">
      <ng-template matStepLabel>Mayoria de edad</ng-template>
      <div class="grid content">
        <div class="col-12">
          <label for="EsMayor" class="block mb-2">¿Usted es mayor de edad?</label>
          <p-dropdown class="p-fluid p-grid p-formgrid"
                      formControlName="EsMayor"
                      [options]="optionEdad"
                      (ngModelChange)="selecOptionEdad($event)"
                      placeholder="Selececione"
                      optionValue="value"
                      optionLabel="name"></p-dropdown>
          <small *ngIf="EsMayor.hasError('required') && EsMayor.dirty"
                  class="p-error">El campo de mayoria de edad <strong>requerido</strong></small>
        </div>
        <div *ngIf="displayMayoria" class="grid content">
          <div class="col-12">
            <label for="DNIApoderado" class="block mb-2">DNI Apoderado</label>
            <div class="p-inputgroup">
            <span class="p-inputgroup-addon"><i [class]="loadGetApoderado?'pi pi-spin pi-spinner':'pi pi-id-card'"></i></span>
            <input id="DNIApoderado"
                  class="p-fluid p-grid p-formgrid input-form"
                  type="text"
                  autocomplete="off"
                  (ngModelChange)="searchApoderado($event)"
                  [maxlength]="8"
                  formControlName="DNIApoderado"
                  pInputText/>
            </div>
            <small *ngIf="DNIApoderado.hasError('pattern') && !DNIApoderado.hasError('required')"
                    class="p-error">Digite un DNI <strong>válido</strong></small>
            <small *ngIf="DNIApoderado.hasError('required') && DNIApoderado.dirty"
                    class="p-error">El campo DNI del apoderado es <strong>requerido</strong></small>
          </div>
          <div class="col-12">
              <label for="NomApoderado" class="block mb-2">Nombres del apoderado</label>
              <input id="NomApoderado"
                    class="p-fluid p-grid p-formgrid input-form"
                    type="text"
                    autocomplete="off"
                    [maxlength]="50"
                    (ngModelChange)="Reniec($event)"
                    formControlName="NomApoderado"
                    pInputText/>
              <small *ngIf="NomApoderado.hasError('pattern') && !NomApoderado.hasError('required')"
                      class="p-error">Digite nombres <strong>válidos</strong></small>
              <small *ngIf="NomApoderado.hasError('required') && NomApoderado.dirty"
                      class="p-error">El campo nombre apoderado es <strong>requerido</strong></small>
          </div>
          <div class="col-12">
              <label for="ApellidoPApoderado" class="block mb-2">Apellido paterno del apoderado</label>
              <input id="ApellidoPApoderado"
                    class="p-fluid p-grid p-formgrid input-form"
                    type="text"
                    autocomplete="off"
                    formControlName="ApellidoPApoderado"
                    pInputText/>
              <small *ngIf="ApellidoPApoderado.hasError('pattern') && !ApellidoPApoderado.hasError('required')"
                      class="p-error">Digite un apellido paterno <strong>válido</strong></small>
              <small *ngIf="ApellidoPApoderado.hasError('required') && ApellidoPApoderado.dirty"
                      class="p-error">El campo apellido paterno del apoderado es <strong>requerido</strong></small>
          </div>
          <div class="col-12">
              <label for="ApellidoMApoderado" class="block mb-2">Apellido materno del apoderado</label>
              <input id="ApellidoMApoderado"
                    class="p-fluid p-grid p-formgrid input-form"
                    type="text"
                    autocomplete="off"
                    formControlName="ApellidoMApoderado"
                    pInputText/>
              <small *ngIf="ApellidoMApoderado.hasError('pattern') && !ApellidoMApoderado.hasError('required')"
                      class="p-error">Digite un apellido materno <strong>válido</strong></small>
              <small *ngIf="ApellidoMApoderado.hasError('required') && ApellidoMApoderado.dirty"
                      class="p-error">El campo apellido materno del apoderado es <strong>requerido</strong></small>
          </div>
          <div class="col-12">
            <label for="CelApoderado" class="block mb-2">Celular del apoderado</label>
            <div class="p-inputgroup">
              <span class="p-inputgroup-addon"><i class="fa-solid fa-phone"></i></span>
              <input id="CelApoderado"
                    class="p-fluid p-grid p-formgrid input-form"
                    type="text"
                    [pTooltip]="msgTooltipCel" tooltipPosition="bottom"
                    autocomplete="off"
                    [maxlength]="9"
                    formControlName="CelApoderado"
                    pInputText/>
            </div>
            <small *ngIf="CelApoderado.hasError('pattern') && !CelApoderado.hasError('required')"
                class="p-error">Digite un número de celular <strong>válido</strong></small>
            <small *ngIf="CelApoderado.hasError('required') && CelApoderado.dirty"
                    class="p-error">El campo celular del apoderado es <strong>requerido</strong></small>
          </div>
        </div>
      </div>
      <br>
      <div align="end" class="mr-2 mt-2 mb-4">
        <button mat-raised-button matStepperPrevious class="mr-2">Regresar</button>
        <button mat-raised-button matStepperNext (click)="validFormMayoria()">Siguiente</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="formCurso">
    <form [formGroup]="formCurso">
      <ng-template matStepLabel>Idioma</ng-template>
      <div class="grid content">
        <div class="col-12">
          <label for="Curso" class="block mb-2">Curso</label>
          <p-dropdown class="p-fluid p-grid p-formgrid"
                      formControlName="Curso"
                      [options]="listCursos"
                      placeholder="Selececione"
                      (ngModelChange)="selectedCurso($event)"
                      optionLabel="NombreCurso">
            <ng-template pTemplate="selectedItem">
              <div class="country-item country-item-value" *ngIf="selecCurso">
                <span class="ml-1">
                  <img class="flag-code-country" [src]="selecCurso.UrlBandera" [alt]="selecCurso.NombreCurso"/>
                  <span class="ml-1">{{selecCurso.NombreCurso}} - {{selecCurso.NivelCurso}}</span>
                </span>
              </div>
            </ng-template>
            <ng-template let-curso pTemplate="item">
              <div>
                <img class="flag-code-country" [src]="curso.UrlBandera" [alt]="curso.NombreCurso"/>
                <span class="ml-1">{{curso.NombreCurso | titlecase}} - {{curso.NivelCurso | titlecase}}</span>
              </div>
            </ng-template>
          </p-dropdown>
          <small *ngIf="Curso.hasError('required') && Curso.dirty"
                  class="p-error">El campo de curso <strong>requerido</strong></small>
        </div>
        <div class="col-12">
          <label for="Horario" class="block mb-2">Horario</label>
            <p-dropdown class="p-fluid p-grid p-formgrid"
                        [options]="listHorarios"
                        placeholder="Selecione el horario"
                        formControlName="Horario"
                        (ngModelChange)="selectedHorario($event)"
                        optionLabel="HoraInicio">
              <ng-template pTemplate="selectedItem">
                <div class="country-item country-item-value" *ngIf="selecHorario">
                  <span class="ml-1">
                    <span class="ml-1">{{selecHorario.HoraInicio | date:'h:mm a'}} - {{selecHorario.HoraFinal | date:'h:mm a'}}</span>
                  </span>
                </div>
              </ng-template>
              <ng-template let-horario pTemplate="item">
                <div>
                  <span class="ml-1">{{horario.HoraInicio | date:'h:mm a'}} - {{horario.HoraFinal | date:'h:mm a'}}</span>
                </div>
              </ng-template>
            </p-dropdown>
            <small *ngIf="Horario.hasError('required') && Horario.dirty"
                  class="p-error">El horario es <strong>requerido</strong></small>
        </div>
        <div class="col-12">
          <label for="Modalidad" class="block mb-2">Modalidad</label>
          <p-dropdown class="p-fluid p-grid p-formgrid"
                      formControlName="Modalidad"
                      [options]="_main.modalidades"
                      placeholder="Selececione"
                      optionValue="value"
                      optionLabel="name"></p-dropdown>
          <small *ngIf="Modalidad.hasError('required') && Modalidad.dirty"
                  class="p-error">El campo modalidad es <strong>requerido</strong></small>
        </div>
      </div>
      <br>
      <div align="end" class="mr-2 mt-2 mb-4">
        <button mat-raised-button matStepperPrevious class="mr-2">Regresar</button>
        <button mat-raised-button matStepperNext (click)="validFormCurso()">Siguiente</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="formAcademica">
    <form [formGroup]="formAcademica">
      <ng-template matStepLabel>Formación</ng-template>
      <div class="grid content">
        <div class="col-12">
          <label for="Poblacion" class="block mb-2">Población a la que pertenece</label>
          <p-dropdown class="p-fluid p-grid p-formgrid"
                      formControlName="Poblacion"
                      [options]="listDenominServicio"
                      placeholder="Selececionea la población que pertenece"
                      optionLabel="Descripcion"></p-dropdown>
          <small *ngIf="Poblacion.hasError('required') && Poblacion.dirty"
                  class="p-error">El campo de población de edad <strong>requerido</strong></small>
        </div>
        <div class="col-12">
          <label for="NombreInstitucion" class="block mb-2">Intitución</label>
          <p-dropdown class="p-fluid p-grid p-formgrid"
                      formControlName="NombreInstitucion"
                      [options]="optionInstitucion"
                      (ngModelChange)="selecOptionInstitucion($event)"
                      placeholder="Selececione"
                      optionValue="value"
                      optionLabel="name">
          </p-dropdown>
          <small *ngIf="NombreInstitucion.hasError('required') && NombreInstitucion.dirty"
                  class="p-error">El campo institución es <strong>requerido</strong></small>
        </div>
        <div *ngIf="isUNAJMA" class="col-12">
          <label for="EscuelaProfe" class="block mb-2">Escuela profesional</label>
          <p-dropdown class="p-fluid p-grid p-formgrid"
                      formControlName="EscuelaProfe"
                      [options]="optionEscuelas"
                      placeholder="Selececione"
                      optionValue="value"
                      optionLabel="name"></p-dropdown>
          <small *ngIf="EscuelaProfe.hasError('required') && EscuelaProfe.dirty"
                  class="p-error">El campo escuela profesional <strong>requerido</strong></small>
        </div>
        <div class="col-12">
          <label for="DJ" class="block mb-2">Declaración jurada</label>
          <div class="field-checkbox">
            <p-checkbox [binary]="true" inputId="DJ" formControlName="DeclaraJurada"></p-checkbox>
            <label for="DJ">Tengo pleno conocimiento de los requisitos estipulados en el reglamento del CEID para ser considerado como estudiante.</label>
          </div>
          <small *ngIf="DeclaraJurada.hasError('required') && DeclaraJurada.dirty"
                      class="p-error">Este campo es <strong>requerido</strong></small>
        </div>
        <div class="col-12">
          <label for="RT" class="block mb-2">Requisitos tecnológicos</label>
          <div class="field-checkbox">
            <p-checkbox [binary]="true" inputId="RT" formControlName="RequiTecnologico"></p-checkbox>
            <label for="RT">Cuento con una laptop o computadora con acceso a internet, con cámara y micrófino.</label>
          </div>
          <small *ngIf="RequiTecnologico.hasError('required') && RequiTecnologico.dirty"
                      class="p-error">Este campo es <strong>requerido</strong></small>
        </div>
        <div class="col-12">
          <label for="CP" class="block mb-2">Carta de compromiso</label>
          <div class="field-checkbox">
            <p-checkbox [binary]="true" inputId="CP" formControlName="CarCompromiso"></p-checkbox>
            <label for="CP">Me comprometo a realizar los pagos correspondientes según cronograma ceid,
                            enviar los recibos de pago al correo institucional, entregar los recibos originales a la oficina del ceid,
                            en caso de estar fuera de la provincia coordinar con la asistente administrativa del ceid y enviar al correo
                            institucional todos los requisitos solicitados por el CEID.</label>
          </div>
          <small *ngIf="CarCompromiso.hasError('required') && CarCompromiso.dirty"
                      class="p-error">Este campo es <strong>requerido</strong></small>
        </div>
      </div>
      <br>
      <div align="end" class="mr-2 mt-2 mb-4">
        <button mat-raised-button matStepperPrevious class="mr-2">Regresar</button>
        <button mat-raised-button (click)="ready()">guardar</button>
      </div>
    </form>
  </mat-step>
</mat-stepper>
