.img-superior{
  width: 100%;
}
.view-grupo{
  margin-top: -200px !important;
}
.img-view-grupo{
  margin-top: -20px;
  width: 70px;
}
.c-skeleton{
  background: var(--surface-300);
  width: 100%;
  height: 200px;
}
