
<form class="mt-3" [formGroup]="formReset" (ngSubmit)="onReady()">
  <div class="field">
    <label for="Email" class="block">Email</label>
    <input id="Email"
    class="p-fluid p-grid p-formgrid"
    type="email"
    autocomplete="off"
    placeholder="Email"
            formControlName="Email"
            pInputText/>
    <small *ngIf="Email.hasError('email') && !Email.hasError('required')"
            class="p-error">Digite un email <strong>válido</strong></small>
    <small *ngIf="Email.hasError('required') && Email.dirty"
          class="p-error">El campo emil es <strong>requerido</strong></small>
  </div>
  <div class="field text-center">
    <button mat-raised-button
            type="submit"
            class="button-custom full-width"
            [disabled]="loading"><i class="pi" [ngClass]="{'pi-spin pi-spinner': loading, 'pi-send': !loading}"></i> Enviar</button>
  </div>
</form>

