
<div class="header-container-otros"></div>
<div class="container-otros">
  <div class="content-card-otros animate__animated animate__fadeIn">
    <p-card>
      <h2 class="p-2"><i class="fa-solid fa-file-pen"></i> Otros trámites</h2>
      <p-messages key="otros-tramites"></p-messages>
      <mat-stepper orientation="vertical" linear="isLinear" #stepper>
        <mat-step [stepControl]="formTramite">
          <ng-template matStepLabel>Tipo de trámite</ng-template>
          <app-form-tipo-tramite [formTramite]="formTramite"></app-form-tipo-tramite>
          <div class="col">
            <div class="mt-2">
              <button mat-raised-button (click)="readyTipoTramite()">Siguiente</button>
            </div>
          </div>
        </mat-step>
        <mat-step [stepControl]="existsEstudiante?formEstudiante:formDocumento">
          <ng-template matStepLabel>Información personal</ng-template>
          <div *ngIf="!existsEstudiante">
            <app-form-select-info-personal [formDocumento]="formDocumento"></app-form-select-info-personal>
          </div>
          <div class="animate__animated animate__fadeInLeft" *ngIf="existsEstudiante">
            <app-form-info-personal [formEstudiante]="formEstudiante"></app-form-info-personal>
          </div>
          <div class="col">
            <div class="mt-2">
              <div *ngIf="!existsEstudiante">
                <button mat-raised-button
                        (click)="readyDocumento()"
                        [disabled]="loadingGetData">Siguiente</button>
              </div>
              <div *ngIf="existsEstudiante">
                <button
                        mat-raised-button
                        (click)="readyEstudent()"
                        [disabled]="loadingGetData">Siguiente</button>
              </div>
            </div>
          </div>
        </mat-step>
        <mat-step [stepControl]="needSelectCurso?formCurso:formFiles">
          <ng-template matStepLabel>Adjuntar archivos</ng-template>
          <div class="mt-3"></div>
          <div *ngIf="needSelectCurso">
            <app-form-select-idioma [formCurso]="formCurso"
                                    (formData)="selectedCurso($event)"></app-form-select-idioma>
          </div>
          <app-form-adjuntar-archivo [formFiles]="formFiles"
                                     [montoPago]="montoPago"
                                     [disableOption]="needSelectCurso"
                                     [InputUploadExtra]="needOtherfileUpload"
                                     (emiterloadingDocument)="stateLoadingDocumento($event)"
                                     (emiterloadingFileExtra)="stateLoadingDocumentoExtra($event)"
                                     (emiterloadingFilePago)="stateLoadingFilePago($event)"></app-form-adjuntar-archivo>
         <div>
          <div class="mt-3">
            <div *ngIf="needSelectCurso">
              <button mat-raised-button
                      [disabled]="loadingDocumento || loadingFilePago || loadingDocumentoExtra"
                      (click)="readyCurso()"><i class="pi pi-save"></i> Registrar</button>
            </div>
            <div *ngIf="!needSelectCurso">
              <button mat-raised-button
                      [disabled]="loadingDocumento || loadingFilePago || loadingDocumentoExtra || loadingSave"
                      class="button-custom"
                      (click)="registrar()">
                      <i class="pi" [ngClass]="{'pi-save': !loadingSave,'pi-spin pi-spinner': loadingSave}"></i> Registrar
              </button>
            </div>

          </div>
        </div>
        </mat-step>
      </mat-stepper>
    </p-card>
  </div>
</div>
