<div class="header-container-constancia"></div>
<div class="content-constancia">
  <div class="content-card-constancia animate__animated animate__fadeIn">
    <p-card header="Trámite de constancia de estudios">
      <mat-stepper orientation="vertical" linear="isLinear" #stepper>
        <p-messages key="message-examen-suf"></p-messages>
        <mat-step>
          <ng-template matStepLabel>Información personal</ng-template>
          <app-form-info-personal [formEstudiante]="formEstudiante"></app-form-info-personal>
          <div>
            <div class="mt-2 mr-3 mb-4">
              <button mat-raised-button (click)="readyEstudent()">Siguiente</button>
            </div>
          </div>
        </mat-step>
        <mat-step label="Adjuntar archivos">
         <!-- <app-form-adjuntar-archivo [formFiles]="formFiles"
                                    [selectCurso]="selectCurso"
                                    (emiterloadingDocument)="stateLoadingDocumento($event)"
                                    (emiterloadingFilePago)="stateLoadingFilePago($event)"></app-form-adjuntar-archivo> -->
         <div>
          <div align="end" class="mt-2 mr-3 mb-4">
            <!-- <button mat-raised-button matStepperPrevious class="mr-2">Regresar</button>
            <button mat-raised-button
                    [disabled]="loadingDocumento || loadingFilePago"
                    (click)="registrar()">Registrar</button> -->
          </div>
        </div>
        </mat-step>
      </mat-stepper>
    </p-card>
  </div>
</div>

