.content-constancia{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
}
.content-card-constancia{
  width: 70%;
  height: 400px;
}
.header-container-constancia{
  height: 100px;
}
