<div class="flex justify-content-center align-items-center flex-column">
  <img class="send-check-img" src="./assets/images/send-email.svg" alt="">
  <div class="mt-3">
    <h3 class="mb-2">Verifique su cuenta de email</h3>
    <p>Hemos enviado las instrucciones para recuperar su contraseña a su cuentade email proporcionada.</p>
    <div class="mt-4">
      <button mat-raised-button
              routerLink="/auth/login"
              class="button-custom full-width">Ir a login</button>
    </div>
  </div>
</div>
