<form [formGroup]="formChangePassword" (ngSubmit)="ChangePassword()">
  <div class="col">
    <label for="NewPassword" class="block mb-2">Contraseña nueva</label>
      <span class="p-input-icon-right full-width">
        <i class="pi cursor"
           (click)="seePassword=!seePassword"
           [ngClass]="{'pi-eye': !seePassword, 'pi-eye-slash': seePassword}"></i>
        <input id="NewPassword"
              class="p-fluid p-grid p-formgrid"
              [type]="seePassword?'text':'password'"
              autocomplete="off"
              (ngModelChange)="changeInput($event)"
              maxlength="20"
              formControlName="NewPassword"
              pInputText/>
      </span>
      <small *ngIf="NewPassword.hasError('pattern') && !NewPassword.hasError('required')"
              class="p-error">La contraseña nueva no cumple los requisitos <strong> de contraseña segura</strong></small>
      <small *ngIf="NewPassword.hasError('required') && NewPassword.dirty"
              class="p-error">El campo contraseña nueva es <strong>requerido</strong></small>
  </div>
  <div class="col">
    <label for="RepeatPassword" class="block mb-2">Confirmar contraseña</label>
      <input id="RepeatPassword"
            class="p-fluid p-grid p-formgrid"
            type="password"
            autocomplete="off"
            (change)="changeInput($event)"
            formControlName="RepeatPassword"
            maxlength="20"
            pInputText/>
      <small *ngIf="RepeatPassword.hasError('pattern') && !RepeatPassword.hasError('required')"
              class="p-error">La contraseña nueva no cumple los requisitos <strong> de contraseña segura</strong></small>
      <small *ngIf="RepeatPassword.hasError('required') && RepeatPassword.dirty"
              class="p-error">El campo de confirmar contraseña es <strong>requerido</strong></small>
  </div>
  <div *ngIf="diferentPassword" class="col">
    <div class="content-message">
      <p>Las contraseñas no coinciden, verifique que ambas contraseñas sean iguales</p>
    </div>
  </div>
  <div class="col">
    <ul>
      <li><i class="pi pi-check-circle lock"></i> Mínimo 8 carácteres alfanúmericos</li>
      <li><i class="pi pi-check-circle lock"></i> Al menos una letra mayúscula</li>
      <li><i class="pi pi-check-circle lock"></i> Al menos un número</li>
    </ul>
  </div>
  <div class="col mt-2">
    <button mat-raised-button
            type="submit"
            class="button-custom full-width"
            [disabled]="loadingPassword"><i class="pi" [ngClass]="{'pi-spin pi-spinner': loadingPassword, 'pi-send': !loadingPassword}"></i> Cambiar contraseña
    </button>
  </div>
</form>
