.content-message{
  background: rgba(255, 0, 0, 0.13);
  border-radius: 4px;
  padding: 8px;
}

.content-message p {
  color: rgb(151, 6, 6);
}
.lock{
  color: green;
  margin-right: 5px;
}
ul li {
  list-style: none;
}
