/* You can add global styles to this file, and also import other style files */
*{
  margin: 0;
  padding: 0;
}

/* Estilos generales para el html y el body */
html, body {
  margin: 0px;
  background: var(--surface-b);
  font-family: var(--font-family);
  height: 100%;
}

/* Asignamos ancho y alto del scrollbar de la pagina*/
body::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Ponemos un color de fondo y redondeamos las esquinas del thumb */
body::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 4px;
}

/* Cambiamos el fondo y agregamos una sombra cuando esté en hover */
body::-webkit-scrollbar-thumb:hover {
  background: #b3b3b3;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

/* Cambiamos el fondo cuando esté en active */
body::-webkit-scrollbar-thumb:active {
  background-color: #999999;
}
.content-tables{
  overflow-x: scroll !important;
  cursor: pointer;
}
.content-tables::-webkit-scrollbar-thumb:hover {
  background: #b3b3b3;
  transition: transform 0.5s ease-in-out;
}
.content-tables::-webkit-scrollbar{
  width: 8px;
  height: 12px;
}
/* Estilo para asignar el color a los contenedores*/
.text-layout{
  color: var(--text-color);
}
/* Estilo para tener botones pequeños */
.p-button-sm{
  width: 50px !important;
}

/* Estilos para card como main  */
.main{
  padding: 10px;
}
/* Estilos para el titulo principal */
.title-main{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.title-main h1{
  font-family: 'Roboto', sans-serif;
  font-size: 65px;
  height: auto;
}
.title-main p{
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}
.font{
  font-family: 'Roboto', sans-serif;
}
/**
* Styles for images
*
*/
.img-page-main{
  width: 600px;
  max-width: 100%;
  height: auto;
}
/**
* Styles for buttons
*
*/
.content{
  width: 100%;
  margin: 0 auto !important;
}
/**
* Styles for social media
*
*/
.p-panelmenu-panel{
  box-shadow: none !important;
}
.btn-custom:hover{
  background: none !important;
}
.p-element .p-button-rounded .p-button-text{
  padding: 0px !important;
  margin: 0px !important;
}
.active{
  background: var(--surface-300);
  color: var(--text-color) !important;
}
.item{
  padding: 15px !important;
  cursor: pointer;
}
.item:hover{
  background: var(--surface-300);
}
footer{
  background: #0B0D17;
  color: #FFF;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  padding: 20px;
}
.grid-footer{
  margin-top: 10px !important;
  width: 75%;
}
.list-social-media{
  display: flex;
  display: flex;
  justify-content: center;
  align-items: center;
}
.list-social-media li{
  margin-left: 15px;
  list-style: none;
}
/**
* Media querys
*
*/
/**
* Inputs
*
*/
.mt-celular{
  margin-top: 26px !important;
}
.full-width{
  width: 100% !important;
}
.icon-size{
  font-size: 24px;
}
.card-login{
  width: 360px;
}
.img-login{
  height: 100px;
}
.cls-sesion{
  width: 30vw;
  background: red !important;
}
.input-form{
  text-transform: uppercase;
}
.img-flag-recoment{
  width: 25px;
}
.flag-code-country{
  width: 25px;
  height: 15px;
}
.img-flag{
  width: 40px;
}
.img-flag-2{
  width: 80px;
}
.recoment-box{
  padding: 13px;
  cursor: pointer;
  margin-bottom: 8px;
  border-radius: 5px;
  border: 1px solid gray;
}
.recoment-box:hover{
  background: var(--surface-b);
}
.content-recomment{
  background: var(--surface-e);
  border-radius: 3px;
  z-index: 10000;
  width: 100%;
  border-radius: 3px;
}
.above-col{
  margin-top: -15px;
}
.content-user{
  position: relative;
  width: auto !important;
}
.content-avatar{
  position: relative;
  width: 25px;
}
.active-user{
  height: 10px;
  width: 10px;
  border-radius: 5px;
  margin-left: 95%;
  position: absolute;
}
.online{
  background: green;
}
.offline{
  background: rgb(190, 5, 5);
}
.content-navbar{
  position: absolute;
  width: 100%;
  padding: 2px !important;
  z-index: 20000;
  background: #F9A826;
}
.p-menubar-root-list{
  background: #F9A826 !important;
}
.content-svg{
  z-index: 100;
  height: 10px;
}
.p-menubar{
  border: none !important;
}
.dot{
  color: var(--surface-e);
}
.p-menuitem-text{
  color: #0B0D17 !important;
}
.button-custom, .button-custom-round{
  background: none;
  background: #1f2448 !important;
  color: #FFF;
}
.button-custom-round{
  border-radius: 20px !important;
}
.mat-button-disabled{
  color: rgb(136, 136, 136) !important;
}
.p-inputtext{
  width: 100% !important;
}
.mat-horizontal-content-container{
  width: 100% !important;
  padding: 0 !important;
  overflow-y: hidden;
  overflow-x: visible;
}
.mat-horizontal-stepper-header-container{
  background: var(--surface-e);
}
.mat-horizontal-content-container{
  background: var(--surface-e);
}
.mat-step-text-label{
  color: var(--text-color);
}
.mat-menu-content{
  background: var(--surface-e);
}
.mat-menu-item{
  color: var(--text-color);
}
.mat-primary .mat-option.mat-selected:not(.mat-option-disabled){
  background: var(--surface-a);
}
.mat-selected, .mat-active{
  background: var(--surface-e);
  color: var(--text-color);
}
.mat-select-value{
  color: var(--text-color);
}
.mat-form-field-infix{
  margin-top: -10px;
}
.mat-form-field-wrapper{
  height: 50px;
}
.mat-select-placeholder{
  color: var(--text-color);
}
.p-datatable-wrapper{
  overflow: visible !important;
}
.mat-step-header
.mat-step-icon-selected,
.mat-step-header
.mat-step-icon-state-done,
.mat-step-header
.mat-step-icon-state-edit {
  background-color: #F9A826;
}
.p-progressbar{
  background-color: #e1bb2f52;
}
.p-progressbar-indeterminate .p-progressbar-value:after{
  background-color: #ec9b1a !important;
}
.p-progressbar-indeterminate .p-progressbar-value:before{
  background-color: #efa328 !important;
}
.p-menubar .p-submenu-list{
  background: #F9A826 !important;
}
.file{
  background: rebeccapurple !important;
}
.tag-custom{
  background: linear-gradient(-225deg,#AC32E4 0%,#7918F2 48%,#4801FF 100%) !important;
}
@media only screen and (max-width: 767px) {
  /* Estilos para teléfonos móviles aquí */
  .image-login{
    display: none;
  }
  .title-main{
    padding: 10px;
  }
  .img-logo{
    display: none;
  }
  .img-page-main{
    margin-top: 15px;
    padding: 10px;
  }
  .content-svg{
    display: none;
  }
  .title-main h1{
    font-size: 40px;
  }
  .title-main p{
    font-size: 17px;
  }
  .rights-reserved{
    font-size: 12px;
    display: flex;
    justify-content: center;
  }
  .btn{
    background: none !important;
    border: 1px solid #0B0D17 !important;
    color: #0B0D17 !important;
  }
  .cls-sesion{
    background: red !important;
    width: 80vw;
  }
  .table-responsive{
    overflow-y: scroll !important;
  }
  .items-menu{
    width: 3000px !important;
  }
  .content-navbar{
    position: fixed;
  }
  mat-form-field{
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* Estilos para tabletas en modo retrato aquí */
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  /* Estilos para escritorio pequeño aquí */
}

@media only screen and (min-width: 1200px) {
  /* Estilos para escritorio grande aquí */
}
