<div>
  <p-card header="Posibles respuestas">
    <div *ngIf="loadingData" class="text-center">
      <div class="flex flex-column">
        <i class="pi pi-spin pi-spinner m-2" style="font-size: 2rem"></i>
        <p>Cargando...</p>
      </div>
    </div>
    <div *ngIf="intent" class="mb-3 flex justify-content-between align-items-center">
      <h3>Intent <p-tag severity="success" [rounded]="true">{{intent.displayName | uppercase}}</p-tag></h3>
      <div class="mr-5">
        <button mat-mini-fab color="primary" (click)="addResponse()">
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </div>
    <form [formGroup]="responseForm">
      <div formArrayName="text">
        <div *ngFor="let item of text.controls; let i=index">
          <div [formGroupName]="i">
            <div class="mt-3 flex justify-content-between">
              <div class="full-width">
                <span class="p-input-icon-left full-width">
                  <i class="fa-solid fa-quote-right"></i>
                  <input id="response"
                          class="p-fluid p-grid p-formgrid"
                          type="text"
                          autocomplete="off"
                          formControlName="response"
                          pInputText/>
                </span>
              </div>
              <div>
                <span class="p-buttonset">
                  <button mat-icon-button (click)="deleteResponse(i)">
                    <i class="fa-solid fa-trash"></i>
                  </button>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="mt-3">
      </div>
      <div class="mt-3">
        <button mat-raised-button (click)="saveResponse()" [disabled]="loadingSavePhrase || loadingData">
          <i class="pi" [ngClass]="{'pi-save':!loadingSavePhrase,'pi-spin pi-spinner':loadingSavePhrase}"></i> Guardar
        </button>
      </div>
    </form>
  </p-card>
</div>
<div class="mt-3">
  <p-card header="Payload de las respuestas">
    <div *ngIf="intent">
      <form [formGroup]="payloadForm">
        <div class="col">
          <label for="mensaje">Mensaje</label>
          <textarea rows="5"
                    id="mensaje"
                    cols="30"
                    class="mt-2"
                    formControlName="message"
                    pInputTextarea
                    [autoResize]="true"></textarea>
        </div>
        <p-divider align="left">
          <div class="inline-flex align-items-center">
            <b>Adjuntar archivo</b>
          </div>
        </p-divider>
        <div class="col full-width">
          <label for="media">Link de la imagen</label>
          <span class="p-input-icon-left full-width mt-2">
            <i class="fa-solid fa-link"></i>
            <input id="media"
                    class="p-fluid p-grid p-formgrid"
                    type="url"
                    formControlName="media"
                    autocomplete="off"
                    pInputText/>
          </span>
          <small *ngIf="media.hasError('pattern') && !media.hasError('required')"
                  class="p-error">Introduzca un link de una imagen <strong>válida</strong></small>
        </div>
        <div class="col full-width">
          <label for="description_media">Descripción de la imagen</label>
          <span class="p-input-icon-left full-width">
            <i class="fa-solid fa-image"></i>
            <input id="description_media"
                    class="p-fluid p-grid p-formgrid"
                    type="text"
                    class="mt-2"
                    formControlName="description_media"
                    autocomplete="off"
                    pInputText/>
          </span>
        </div>
        <p-divider align="left">
          <div class="inline-flex align-items-center">
            <b>Link extra</b>
          </div>
        </p-divider>
        <div class="col full-width">
          <label for="link">Link extra</label>
          <span class="p-input-icon-left full-width mt-2">
            <i class="fa-solid fa-link"></i>
            <input id="link"
                    class="p-fluid p-grid p-formgrid"
                    type="url"
                    formControlName="link"
                    autocomplete="off"
                    pInputText/>
          </span>
          <small *ngIf="link.hasError('pattern') && !link.hasError('required')"
                  class="p-error">Introduzca un link <strong>válido</strong></small>
        </div>
        <div class="col">
          <button mat-raised-button (click)="savePayload()" [disabled]="loadingSavePayload || loadingData">
            <i class="pi" [ngClass]="{'pi-save':!loadingSavePayload,'pi-spin pi-spinner':loadingSavePayload}"></i> Guardar
          </button>
        </div>
      </form>
    </div>
    <div *ngIf="loadingData" class="text-center">
      <div class="flex flex-column">
        <i class="pi pi-spin pi-spinner m-2" style="font-size: 2rem"></i>
        <p>Cargando...</p>
      </div>
    </div>
  </p-card>
</div>
