<div class="main">
  <p-toolbar>
    <div class="p-toolbar-group-start">
      <span class="p-input-icon-left">
        <i class="pi pi-search"></i>
        <input type="text" pInputText placeholder="Search"/>
      </span>
    </div>
    <div class="p-toolbar-group-right">
      <span class="p-buttonset">
        <button pButton
                pRipple label="Grupo"
                routerLink="/system/grupos/add-grupo"
                class="p-button-c"
                icon="pi pi-plus"></button>
        <button pButton
                pRipple
                label="Lista grupos"
                class="p-button-c"
                routerLink="/system/grupos/lista-grupos"
                icon="fa-solid fa-users-rectangle"></button>
        <button pButton
                pRipple
                (click)="openModal()"
                label="Nuevo horario"
                class="p-button-c"
                icon="pi pi-clock"></button>
      </span>
    </div>
  </p-toolbar>
</div>

<p-dialog header="Nuevo horario"
          [(visible)]="modalHorario"
          [modal]="true"
          [style]="{width: '50vw'}"
          [breakpoints]="{'960px': '90vw'}" [style]="{width: '35vw'}"
          [draggable]="false" [resizable]="false">
        <form [formGroup]="FormHorario">
          <div class="grid content">
            <div class="col-12 md:col-6 p-fluid p-grid p-formgrid">
              <label for="HoraInicio" class="block mb-2">
                <i class="fa-regular fa-clock"></i> Hora de inicio
              </label>
                <p-calendar [timeOnly]="true"
                            hourFormat="12"
                            inputId="timeonly"
                            formControlName="HoraInicio"></p-calendar><br>
              <small *ngIf="HoraInicio.hasError('pattern') && !HoraInicio.hasError('required')"
                    class="p-error">Digite una hora <strong>válida</strong></small>
              <small *ngIf="HoraInicio.hasError('required') && HoraInicio.dirty"
                    class="p-error">El de hora inicio es <strong>requerido</strong></small>
            </div>
            <div class="col-12 md:col-6 p-fluid p-grid p-formgrid">
              <label for="HoraFinal" class="block mb-2">
                <i class="fa-regular fa-clock"></i> Hora final
              </label>
              <p-calendar [timeOnly]="true"
                          hourFormat="12"
                          ngClass="p-fluid p-grid p-formgrid"
                          inputId="timeonly"
                          formControlName="HoraFinal"></p-calendar><br>
              <small *ngIf="HoraFinal.hasError('pattern') && !HoraFinal.hasError('required')"
                    class="p-error">Digite una hora <strong>válida</strong></small>
              <small *ngIf="HoraFinal.hasError('required') && HoraFinal.dirty"
                    class="p-error">El campo hora final es <strong>requerido</strong></small>
            </div>
          </div>
          <div class="col">
            <label for="Nombres" class="block mb-2">Descripción del horario (opcional)</label>
            <textarea rows="5"
                      cols="10"
                      pInputTextarea
                      maxlength="350"
                      class="p-fluid p-grid p-formgrid"
                      formControlName="DescHorario"></textarea>
          </div>
        </form>
        <ng-template pTemplate="footer">
          <p-button label="Registrar"
                    [icon]="loadHorario?'pi pi-spin pi-spinner':'pi pi-save'"
                    (click)="saveHorario()"
                    styleClass="p-button mr-2 p-button-c"></p-button>
          <p-button label="Cancelar"
                    (click)="resetHorario()"
                    styleClass="p-button p-button-c"></p-button>
        </ng-template>
</p-dialog>
 <!-- A component that is used to show messages to the user. -->
<p-toast position="top-right"
         [breakpoints]="{'920px': {width: '100%', right: '0', left: '0', padding:'10px'}}"></p-toast>

<router-outlet></router-outlet>
