<footer>
  <div class="grid grid-footer">
    <div class="col-12 sm:col-6 rights-reserved">
      © {{anio}} UNAJMA UI Kit. All rights reserved
    </div>
    <div class="col-12 sm:col-6">
      <ul class="list-social-media">
        <li><a href="mailto:centro.idiomas@unajma.edu.pe"><i class="fa-solid fa-envelope icon"></i></a></li>
        <li><a href="https://www.facebook.com/profile.php?id=100057229818712" target="_blank"><span class="pi pi-facebook icon"></span></a></li>
        <li><a href="https://goo.gl/maps/qJunP1rz6ab2qCJY7" target="_blank"><i class="fa-solid fa-location-dot icon"></i></a></li>
      </ul>
    </div>
  </div>
</footer>
