<form [formGroup]="FormGrupo">
  <div class="mb-1">
    <div *ngIf="isUpdate else notUpdate">
      <h2 class="ml-1"><i class="fa-solid fa-pen-to-square"></i> Editar grupo</h2>
    </div>
    <ng-template #notUpdate>
      <h2 class="ml-1"><i class="fa-solid fa-plus"></i> Registro grupo</h2>
    </ng-template>
  </div>
  <div class="grid content content-form">
    <div class="col-12 md:col-6">
      <div class="col">
        <label for="tipoGrupo" class="block mb-2">Nombre del grupo</label>
          <p-dropdown class="p-fluid p-grid p-formgrid"
                      [options]="ListTipoNombres"
                      formControlName="tipoGrupo"
                      placeholder="Selecione el nombre del grupo"
                      (ngModelChange)="selectedTiposNombres($event)"
                      optionLabel="NombreGrupo">
            <ng-template pTemplate="selectedItem">
              <div class="country-item country-item-value" *ngIf="selecTipoNombres">
                <span class="ml-1">
                  {{selecTipoNombres.NombreGrupo | uppercase}}
                </span>
              </div>
            </ng-template>
            <ng-template let-TGrupo pTemplate="item">
              <div>
                <span class="ml-1">{{TGrupo.NombreGrupo | uppercase}}</span>
              </div>
            </ng-template>
          </p-dropdown>
          <small *ngIf="tipoGrupo.hasError('required') && tipoGrupo.dirty"
                class="p-error">El nombre del grupo es <strong>requerido</strong></small>
      </div>
      <div class="col">
        <label for="docente" class="block mb-2">Docente</label>
          <p-dropdown class="p-fluid p-grid p-formgrid"
                      [options]="ListDocentes"
                      formControlName="docente"
                      placeholder="Selecione el docente"
                      (ngModelChange)="selectedDocente($event)"
                      optionLabel="Nombres">
            <ng-template pTemplate="selectedItem">
              <div class="country-item country-item-value" *ngIf="selecDocente">
                <span class="ml-1">
                  {{selecDocente.Nombres | titlecase}}
                  {{selecDocente.ApellidoPaterno | titlecase}}
                  {{selecDocente.ApellidoMaterno | titlecase}}
                </span>
              </div>
            </ng-template>
            <ng-template let-docente pTemplate="item">
              <div>
                <span class="ml-1">
                  {{docente.Nombres | titlecase}}
                  {{docente.ApellidoPaterno | titlecase}}</span>
              </div>
            </ng-template>
          </p-dropdown>
          <small *ngIf="docente.hasError('required') && docente.dirty"
                class="p-error">El tipo de docente es <strong>requerido</strong></small>
      </div>
      <div class="col">
        <label for="curso" class="block mb-2">Curso</label>
          <p-dropdown class="p-fluid p-grid p-formgrid"
                      [options]="ListCursos"
                      placeholder="Seleciona el curso"
                      formControlName="curso"
                      (ngModelChange)="selectedCurso($event)"
                      optionLabel="NombreCurso">
            <ng-template pTemplate="selectedItem">
              <div class="country-item country-item-value" *ngIf="selecCurso">
                <span class="ml-1">
                  <img class="flag-code-country" [src]="selecCurso.UrlBandera" [alt]="selecCurso.NombreCurso"/>
                  <span class="ml-1">{{selecCurso.NombreCurso}} - {{selecCurso.NivelCurso}}</span>
                </span>
              </div>
            </ng-template>
            <ng-template let-curso pTemplate="item">
              <div>
                <img class="flag-code-country" [src]="curso.UrlBandera" [alt]="curso.NombreCurso"/>
                <span class="ml-1">{{curso.NombreCurso | titlecase}} - {{curso.NivelCurso | titlecase}}</span>
              </div>
            </ng-template>
          </p-dropdown>
          <small *ngIf="curso.hasError('required') && curso.dirty"
                class="p-error">El curso es <strong>requerido</strong></small>
      </div>
      <div class="col">
        <label for="Modalidad" class="block mb-2">Modalidad</label>
          <p-dropdown class="p-fluid p-grid p-formgrid"
                      placeholder="Selecione la modalidad"
                      [options]="_main.modalidades"
                      formControlName="Modalidad"
                      optionValue="value"
                      optionLabel="name">
          </p-dropdown>
          <small *ngIf="Modalidad.hasError('required') && Modalidad.dirty"
                class="p-error">La modalidad es <strong>requerida</strong></small>
      </div>
      <div class="grid content">
        <div class="col-12 md:col-6 p-fluid p-grid p-formgrid">
          <label for="FechaInicioGrupo" class="block mb-2">Fecha de inicio del grupo</label>
          <div class="p-inputgroup">
            <span class="p-inputgroup-addon"><i class="pi pi-calendar"></i></span>
            <p-calendar inputId="FechaInicioGrupo"
                        placeholder="DD-MM-AAAA"
                        dateFormat="dd-mm-yy"
                        class="p-fluid p-grid p-formgrid"
                        (ngModelChange)="selecFechaInicio($event)"
                        formControlName="FechaInicioGrupo"></p-calendar>
          </div>
          <small *ngIf="FechaInicioGrupo.hasError('pattern') && !FechaInicioGrupo.hasError('required')"
              class="p-error">Digite una fecha <strong>válida</strong></small>
          <small *ngIf="FechaInicioGrupo.hasError('required') && FechaInicioGrupo.dirty"
                class="p-error">La fecha de inicio del grupo es <strong>requerido</strong></small>
        </div>
        <div class="col-12 md:col-6 p-fluid p-grid p-formgrid">
          <label for="FechaFinalGrupo" class="block mb-2">Fecha de final del grupo</label>
          <div class="p-inputgroup">
            <span class="p-inputgroup-addon"><i class="pi pi-calendar"></i></span>
            <p-calendar inputId="FechaFinalGrupo"
                        placeholder="DD-MM-AAAA"
                        dateFormat="dd-mm-yy"
                        formControlName="FechaFinalGrupo"></p-calendar>
          </div>
          <small *ngIf="FechaFinalGrupo.hasError('pattern') && !FechaFinalGrupo.hasError('required')"
              class="p-error">Digite una fecha <strong>válida</strong></small>
          <small *ngIf="FechaFinalGrupo.hasError('required') && FechaFinalGrupo.dirty"
              class="p-error">La fecha de finalización del grupo es <strong>requerido</strong></small>
        </div>
      </div>
    </div>
    <div class="col-12 md:col-6">
      <div class="col">
        <label for="horario" class="block mb-2">Horario</label>
          <p-dropdown class="p-fluid p-grid p-formgrid"
                      [options]="ListHorarios"
                      placeholder="Selecione el horario"
                      formControlName="horario"
                      (ngModelChange)="selectedHorario($event)"
                      optionLabel="HoraInicio">
            <ng-template pTemplate="selectedItem">
              <div class="country-item country-item-value" *ngIf="selecHorario">
                <span class="ml-1">
                  <span class="ml-1">{{selecHorario.HoraInicio | date:'h:mm a'}} - {{selecHorario.HoraFinal | date:'h:mm a'}}</span>
                </span>
              </div>
            </ng-template>
            <ng-template let-horario pTemplate="item">
              <div>
                <span class="ml-1">{{horario.HoraInicio | date:'h:mm a'}} - {{horario.HoraFinal | date:'h:mm a'}}</span>
              </div>
            </ng-template>
          </p-dropdown>
          <small *ngIf="horario.hasError('required') && horario.dirty"
                class="p-error">El horario es <strong>requerido</strong></small>
      </div>
      <div class="col">
        <label for="NombreGrupo" class="block mb-2">Cant. Máxima de estudiantes</label>
        <div class="p-inputgroup">
          <span class="p-inputgroup-addon"><i class="fa-solid fa-hashtag"></i></span>
          <p-inputNumber id="NombreGrupo"
                        class="p-fluid p-grid p-formgrid"
                        type="text"
                        autocomplete="off"
                        formControlName="MaximoEstudiantes"
                        p-inputNumber>
          </p-inputNumber>
        </div>
        <small *ngIf="MaximoEstudiantes.hasError('pattern') && !MaximoEstudiantes.hasError('required')"
              class="p-error">Digite una cantidad de estudiantes por grupo <strong>válido</strong></small>
        <small *ngIf="MaximoEstudiantes.hasError('required') && MaximoEstudiantes.dirty"
              class="p-error">La cantidad de estudiantes por grupo <strong>requerido</strong></small>
      </div>
      <div class="col">
        <label for="DescGrupo" class="block mb-2">Descripción del grupo</label>
        <textarea rows="7"
                  cols="30"
                  pInputTextarea
                  formControlName="DescGrupo"
                  maxlength="350"
                  class="p-fluid p-grid p-formgrid"></textarea>
        <small *ngIf="DescGrupo.hasError('required') && DescGrupo.dirty"
               class="p-error">La descripción del grupo es <strong>requerido</strong></small>
      </div>
    </div>
  </div>
  <div class="flex justify-content-end mt-2">
    <button mat-raised-button
                  color="primary"
                  class="p-button-c"
                  (click)="ready()"
                  [disabled]="loading">
                  <i [class]="loading?'pi pi-spin pi-spinner':'pi pi-save'"></i> {{isUpdate?'Guardar':'Registrar'}}
      </button>
      <button mat-raised-button
                  color="primary"
                  class="p-button-c ml-2"
                  (click)="returnLista()"> Cancelar
      </button>
  </div>
</form>
