<div class="container-reset-password animate__animated animate__zoomIn">
  <div class="content-form-reset">
    <p-card>
      <div class="p-2" *ngIf="isSendEmail, else showForm">
        <div class="animate__animated animate__fadeInDown">
          <app-send-check-email></app-send-check-email>
        </div>
      </div>
      <ng-template #showForm>
        <div class="p-2">
          <h3 class="pb-2">Recuperar contraseña</h3>
          <div class="text-center p-2">
            <img class="forgot-password-img" src="./assets/images/forgot-password.svg" alt="">
          </div>
          <p>Escriba el email asociado con la cuenta de CEIDBOT y
             le enviaremos un email con las instrucciones para recuperar su contraseña.</p>
          <p-messages key="message-reset-password"></p-messages>
          <app-form-reset-password [loading]="loading" (formData)="sendEmail($event)"></app-form-reset-password>
          <div class="flex justify-content-center">
            <a class="forgot-password" routerLink="/auth/login">Ir a login</a>
          </div>
        </div>
      </ng-template>
    </p-card>
  </div>
</div>
